In [1]:
import requests as req
from bs4 import BeautifulSoup as bs

In [45]:
url_base = 'https://ggscore.com'

In [44]:
url_id = 'https://ggscore.com/en/pubg/player?region=1&country=1&t='

In [5]:
pls = {6: {'2heart', 'ayoh', 'indigo', 'kayle', 'menteul', 'minsung', 'pio', 'seongjang', 'silky', 'under'},
    2: {'alphaca', 'ej', 'hwan2da', 'inonix', 'loki', 'orange', 'sparrow', 'yunjong', 'zenith'}, 
        3: {'adder', 'dg98', 'dowon', 'kali', 'maczora', 'piky', 'rex'}, 
            5: {'akan', 'aloha', 'hellen', 'k1nch'}, 
                0: {'dino', 'gujamyoung', 'smoke'}, 
                    4: {'alone', 'alyu', 'apxb', 'donghyun', 'geonhu', 'laura', 'minuda', 'spacebin', 'yun', 'zamil'}, 
                        1: {'aka', 'chanahri', 'h0ziboy', 'kasa', 'mxxu', 'nojam', 'poodle', 'tanggle'},}

In [139]:
stats_list = []
# pls : players
# pl : player label
for pl in pls:
    for p in pls.get(pl):
        res = req.get(url_id+p)  # 먼저 선수 이름을 조회
        html = bs(res.text, 'html.parser')
        p_id = html.select('table.mtable tr.t-item a')
        try:
            nick_name = p_id[0]['href']
        except:
            continue
        
        res = req.get(url_base+nick_name)  # 먼저 선수 nick_name을 받아와서 검색시작
        html = bs(res.text, 'html.parser')

        stats = html.select('div.table-responsive table tr td span.counter')

        p_data = html.select('div.pInf table td:nth-child(2)')
        p_data_info = ['NAME', 'AGE', 'COUNTRY','TEAM','EARNED','MATCHES']

        t_list=[]
        for data in p_data:
            t_list.append((data.text).replace('\n','').replace('\t',''))
    #     print(t_list)
        stat_dict = {}
        for i in range(len(p_data_info)):
#             print(p_data_info[i])
            try:
                if p_data_info[i] == 'MATCHES':
#                     print("들어옴")
                    min_matches = t_list[i].split('/')[0]
#                     print(min_matches)
                    min_matches = min_matches.strip()
                    min_matches = min_matches.replace('-', '0')
#                     print(min_matches)
                    stat_dict['MATCHES'] = min_matches
                else:
                    stat_dict[p_data_info[i]] = t_list[i]
            except:
                pass
        s_list = ['FORM', 'RATING', 'MATCH PERFORMANCE', 'PRECISION' , 'SURVIVAL', 'DISTANCE', 'KILLS', 'EXPERIENCE']

    #         
        stat_dict['NICKNAME'] = p
        for i, stat in enumerate(stats):
            stat_dict[s_list[i]] = (stat.text)

        stats_list.append(stat_dict)

In [140]:
stats_list

[{'NAME': 'Sin Hyoek-jun',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'Griffin',
  'EARNED': '40395',
  'MATCHES': '527',
  'NICKNAME': '2heart',
  'FORM': '85%',
  'RATING': '254%',
  'MATCH PERFORMANCE': '47%',
  'PRECISION': '15%',
  'SURVIVAL': '10932',
  'DISTANCE': '82620',
  'KILLS': '7.67',
  'EXPERIENCE': '50%'},
 {'NAME': 'Lee Choong Beom',
  'AGE': '26 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'ALG',
  'EARNED': '23077',
  'MATCHES': '339',
  'NICKNAME': 'ayoh',
  'FORM': '112%',
  'RATING': '97%',
  'MATCH PERFORMANCE': '46%',
  'PRECISION': '13%',
  'SURVIVAL': '10620',
  'DISTANCE': '49968',
  'KILLS': '5.67',
  'EXPERIENCE': '45%'},
 {'NAME': 'Seong Jang-hwan',
  'AGE': '27 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'FSG',
  'EARNED': '160548',
  'MATCHES': '503',
  'NICKNAME': 'seongjang',
  'FORM': '103%',
  'RATING': '258%',
  'MATCH PERFORMANCE': '45%',
  'PRECISION': '12%',
  'SURVIVAL': '10542',
  'DISTANCE': '61133',
  'KILLS': '7.67',
  'EXPERIENCE': '50%'},
 {'NAME': 'Jeong Su-yong',
  'AGE': '21 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'T1',
  'EARNED': '167606',
  'MATCHES': '481',
  'NICKNAME': 'kayle',
  'FORM': '107%',
  'RATING': '261%',
  'MATCH PERFORMANCE': '39%',
  'PRECISION': '13%',
  'SURVIVAL': '9897',
  'DISTANCE': '44292',
  'KILLS': '5',
  'EXPERIENCE': '50%'},
 {'NAME': 'Im Yeong-su',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'Griffin',
  'EARNED': '102378',
  'MATCHES': '443',
  'NICKNAME': 'menteul',
  'FORM': '97%',
  'RATING': '165%',
  'MATCH PERFORMANCE': '47%',
  'PRECISION': '12%',
  'SURVIVAL': '9974',
  'DISTANCE': '72156',
  'KILLS': '4.67',
  'EXPERIENCE': '50%'},
 {'NAME': 'Choi Ji-hoon',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'DWG KIA',
  'EARNED': '23715',
  'MATCHES': '373',
  'NICKNAME': 'silky',
  'FORM': '119%',
  'RATING': '103%',
  'MATCH PERFORMANCE': '40%',
  'PRECISION': '13%',
  'SURVIVAL': '9574',
  'DISTANCE': '55045',
  'KILLS': '3.67',
  'EXPERIENCE': '45%'},
 {'NAME': 'Park Sung-chan',
  'AGE': '23 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'DWG KIA',
  'EARNED': '68311',
  'MATCHES': '680',
  'NICKNAME': 'under',
  'FORM': '98%',
  'RATING': '428%',
  'MATCH PERFORMANCE': '55%',
  'PRECISION': '16%',
  'SURVIVAL': '11411',
  'DISTANCE': '54628',
  'KILLS': '11',
  'EXPERIENCE': '50%'},
 {'NAME': 'Seol Do-hoon',
  'AGE': '26 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'E36',
  'EARNED': '157136',
  'MATCHES': '478',
  'NICKNAME': 'indigo',
  'FORM': '87%',
  'RATING': '334%',
  'MATCH PERFORMANCE': '39%',
  'PRECISION': '12%',
  'SURVIVAL': '10546',
  'DISTANCE': '45742',
  'KILLS': '5.33',
  'EXPERIENCE': '50%'},
 {'NAME': 'Kim Min-sung',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '32260',
  'MATCHES': '459',
  'NICKNAME': 'minsung',
  'FORM': '93%',
  'RATING': '124%',
  'MATCH PERFORMANCE': '42%',
  'PRECISION': '19%',
  'SURVIVAL': '11230',
  'DISTANCE': '68740',
  'KILLS': '5',
  'EXPERIENCE': '45%'},
 {'NAME': 'Cha Seung Hoon',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'GEN',
  'EARNED': '855202',
  'MATCHES': '545',
  'NICKNAME': 'pio',
  'FORM': '96%',
  'RATING': '447%',
  'MATCH PERFORMANCE': '64%',
  'PRECISION': '21%',
  'SURVIVAL': '11892',
  'DISTANCE': '56628',
  'KILLS': '18.67',
  'EXPERIENCE': '50%'},
 {'NAME': 'Jung Young Park',
  'AGE': '23 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'DWG KIA',
  'EARNED': '933540',
  'MATCHES': '620',
  'NICKNAME': 'loki',
  'FORM': '88%',
  'RATING': '362%',
  'MATCH PERFORMANCE': '48%',
  'PRECISION': '11%',
  'SURVIVAL': '11306',
  'DISTANCE': '62098',
  'KILLS': '9',
  'EXPERIENCE': '57%'},
 {'NAME': 'Lee Jung-woo',
  'AGE': '20 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'AF',
  'EARNED': '53416',
  'MATCHES': '596',
  'NICKNAME': 'ej',
  'FORM': '84%',
  'RATING': '362%',
  'MATCH PERFORMANCE': '43%',
  'PRECISION': '15%',
  'SURVIVAL': '11949',
  'DISTANCE': '47303',
  'KILLS': '8.67',
  'EXPERIENCE': '50%'},
 {'NAME': 'Choi Yun-jong',
  'AGE': '23 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'DNW',
  'EARNED': '17678',
  'MATCHES': '511',
  'NICKNAME': 'yunjong',
  'FORM': '107%',
  'RATING': '278%',
  'MATCH PERFORMANCE': '53%',
  'PRECISION': '14%',
  'SURVIVAL': '11870',
  'DISTANCE': '58244',
  'KILLS': '10.33',
  'EXPERIENCE': '50%'},
 {'NAME': 'Lee Jae-sung',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'OPGG',
  'EARNED': '9990',
  'MATCHES': '225',
  'NICKNAME': 'zenith',
  'FORM': '80%',
  'RATING': '120%',
  'MATCH PERFORMANCE': '34%',
  'PRECISION': '9%',
  'SURVIVAL': '9988',
  'DISTANCE': '48460',
  'KILLS': '5.33',
  'EXPERIENCE': '45%'},
 {'NAME': 'Jang Hwan',
  'AGE': '23 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'T1',
  'EARNED': '101246',
  'MATCHES': '462',
  'NICKNAME': 'hwan2da',
  'FORM': '108%',
  'RATING': '220%',
  'MATCH PERFORMANCE': '47%',
  'PRECISION': '14%',
  'SURVIVAL': '10954',
  'DISTANCE': '44981',
  'KILLS': '6',
  'EXPERIENCE': '50%'},
 {'NAME': 'Byeon Jung Hwan',
  'AGE': '22 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'ATA',
  'EARNED': '18379',
  'MATCHES': '502',
  'NICKNAME': 'sparrow',
  'FORM': '99%',
  'RATING': '181%',
  'MATCH PERFORMANCE': '51%',
  'PRECISION': '14%',
  'SURVIVAL': '10250',
  'DISTANCE': '38100',
  'KILLS': '9.67',
  'EXPERIENCE': '50%'},
 {'NAME': 'Na Hee-joo',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'GEN',
  'EARNED': '316534',
  'MATCHES': '546',
  'NICKNAME': 'inonix',
  'FORM': '97%',
  'RATING': '419%',
  'MATCH PERFORMANCE': '62%',
  'PRECISION': '14%',
  'SURVIVAL': '11965',
  'DISTANCE': '56762',
  'KILLS': '16.33',
  'EXPERIENCE': '50%'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '–',
  'MATCHES': '5',
  'NICKNAME': 'orange'},
 {'NAME': 'Bang Ji-min',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '278449',
  'MATCHES': '196',
  'NICKNAME': 'alphaca',
  'FORM': '96%',
  'RATING': '138%',
  'MATCH PERFORMANCE': '42%',
  'PRECISION': '19%',
  'SURVIVAL': '11842',
  'DISTANCE': '55217',
  'KILLS': '11',
  'EXPERIENCE': '45%'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '6565',
  'MATCHES': '175',
  'NICKNAME': 'dowon',
  'FORM': '100%',
  'RATING': '0%',
  'MATCH PERFORMANCE': '39%',
  'PRECISION': '27%',
  'SURVIVAL': '4376',
  'DISTANCE': '17744',
  'KILLS': '1.67',
  'EXPERIENCE': '30%'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '8960',
  'MATCHES': '388',
  'NICKNAME': 'piky',
  'FORM': '117%',
  'RATING': '152%',
  'MATCH PERFORMANCE': '38%',
  'PRECISION': '21%',
  'SURVIVAL': '10198',
  'DISTANCE': '55379',
  'KILLS': '4',
  'EXPERIENCE': '40%'},
 {'NAME': 'Jeong Ji-hun',
  'AGE': '22 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'GBL',
  'EARNED': '59441',
  'MATCHES': '530',
  'NICKNAME': 'adder',
  'FORM': '103%',
  'RATING': '291%',
  'MATCH PERFORMANCE': '44%',
  'PRECISION': '14%',
  'SURVIVAL': '9940',
  'DISTANCE': '41546',
  'KILLS': '7.33',
  'EXPERIENCE': '50%'},
 {'NAME': 'Han Dae-kyu',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'ATA',
  'EARNED': '14670',
  'MATCHES': '432',
  'NICKNAME': 'maczora',
  'FORM': '96%',
  'RATING': '148%',
  'MATCH PERFORMANCE': '51%',
  'PRECISION': '21%',
  'SURVIVAL': '10713',
  'DISTANCE': '42622',
  'KILLS': '14.33',
  'EXPERIENCE': '45%'},
 {'NAME': 'Dae Kwon Hwang',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'FSG',
  'EARNED': '73931',
  'MATCHES': '201',
  'NICKNAME': 'dg98',
  'FORM': '104%',
  'RATING': '48%',
  'MATCH PERFORMANCE': '49%',
  'PRECISION': '17%',
  'SURVIVAL': '10389',
  'DISTANCE': '38146',
  'KILLS': '9.33',
  'EXPERIENCE': '45%'},
 {'NAME': 'Kim Hae-chan',
  'AGE': '19 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'DNW',
  'EARNED': '25912',
  'MATCHES': '438',
  'NICKNAME': 'rex',
  'FORM': '90%',
  'RATING': '241%',
  'MATCH PERFORMANCE': '44%',
  'PRECISION': '11%',
  'SURVIVAL': '11297',
  'DISTANCE': '45741',
  'KILLS': '9.67',
  'EXPERIENCE': '45%'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '–',
  'MATCHES': '48',
  'NICKNAME': 'kali'},
 {'NAME': 'Kim Min-wook',
  'AGE': '20 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'WS',
  'EARNED': '7161',
  'MATCHES': '165',
  'NICKNAME': 'akan',
  'FORM': '113%',
  'RATING': '60%',
  'MATCH PERFORMANCE': '46%',
  'PRECISION': '19%',
  'SURVIVAL': '10012',
  'DISTANCE': '38655',
  'KILLS': '9.33',
  'EXPERIENCE': '30%'},
 {'NAME': 'Kang Min-seong',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'KGA',
  'EARNED': '4025',
  'MATCHES': '110',
  'NICKNAME': 'k1nch',
  'FORM': '103%',
  'RATING': '0%',
  'MATCH PERFORMANCE': '42%',
  'PRECISION': '8%',
  'SURVIVAL': '7981',
  'DISTANCE': '40299',
  'KILLS': '5.33',
  'EXPERIENCE': '40%'},
 {'NAME': 'Ahn Kang-hyun',
  'AGE': '20 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'WS',
  'EARNED': '33743',
  'MATCHES': '190',
  'NICKNAME': 'hellen',
  'FORM': '91%',
  'RATING': '52%',
  'MATCH PERFORMANCE': '46%',
  'PRECISION': '16%',
  'SURVIVAL': '10016',
  'DISTANCE': '45817',
  'KILLS': '9.67',
  'EXPERIENCE': '40%'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '–',
  'MATCHES': '–',
  'NICKNAME': 'aloha'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'SM',
  'EARNED': '670',
  'MATCHES': '15',
  'NICKNAME': 'gujamyoung'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '113',
  'MATCHES': '85',
  'NICKNAME': 'dino'},
 {'NAME': 'Yoo Tae-kyu',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '1081',
  'MATCHES': '186',
  'NICKNAME': 'smoke',
  'FORM': '106%',
  'RATING': '84%',
  'MATCH PERFORMANCE': '48%',
  'PRECISION': '15%',
  'SURVIVAL': '10502',
  'DISTANCE': '51789',
  'KILLS': '11.33',
  'EXPERIENCE': '40%'},
 {'NAME': 'Kim Do-hyun',
  'AGE': '26 years',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'T1',
  'EARNED': '124417',
  'MATCHES': '520',
  'NICKNAME': 'yun',
  'FORM': '97%',
  'RATING': '324%',
  'MATCH PERFORMANCE': '44%',
  'PRECISION': '21%',
  'SURVIVAL': '10901',
  'DISTANCE': '41760',
  'KILLS': '6.33',
  'EXPERIENCE': '50%'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '110',
  'MATCHES': '70',
  'NICKNAME': 'minuda'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'MCL',
  'EARNED': '745',
  'MATCHES': '15',
  'NICKNAME': 'alone'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'FR',
  'EARNED': '–',
  'MATCHES': '25',
  'NICKNAME': 'donghyun'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '–',
  'MATCHES': '15',
  'NICKNAME': 'laura'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '–',
  'MATCHES': '19',
  'NICKNAME': 'spacebin'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'KT',
  'EARNED': '1947',
  'MATCHES': '85',
  'NICKNAME': 'zamil'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'AFK',
  'EARNED': '–',
  'MATCHES': '15',
  'NICKNAME': 'apxb'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': 'GE',
  'EARNED': '–',
  'MATCHES': '35',
  'NICKNAME': 'alyu'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '–',
  'MATCHES': '10',
  'NICKNAME': 'kasa'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '–',
  'MATCHES': '4',
  'NICKNAME': 'poodle'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '–',
  'MATCHES': '10',
  'NICKNAME': 'chanahri'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '–',
  'MATCHES': '10',
  'NICKNAME': 'mxxu'},
 {'NAME': '–',
  'AGE': '–',
  'COUNTRY': 'Korea, Republic of ',
  'TEAM': '                                                                                    –                                            ',
  'EARNED': '–',
  'MATCHES': '25',
  'NICKNAME': 'nojam'}]

In [141]:
stats_list[0].keys()

dict_keys(['NAME', 'AGE', 'COUNTRY', 'TEAM', 'EARNED', 'MATCHES', 'NICKNAME', 'FORM', 'RATING', 'MATCH PERFORMANCE', 'PRECISION', 'SURVIVAL', 'DISTANCE', 'KILLS', 'EXPERIENCE'])

In [142]:
import pandas as pd

In [143]:
dfs = pd.DataFrame(stats_list, columns=list(stats_list[0].keys()))

In [144]:
dfs.index = dfs['NICKNAME']

In [132]:
dfs.describe()

,NAME,AGE,COUNTRY,TEAM,EARNED,MATCHES,NICKNAME,FORM,RATING,MATCH PERFORMANCE,PRECISION,SURVIVAL,DISTANCE,KILLS,EXPERIENCE
count,47,47,47,47,47,47,47,29,29,29,29,29,29,29,29
unique,28,8,1,21,35,40,47,22,27,17,12,29,29,21,5
top,–,–,"Korea, Republic of",...,–,15,loki,96%,362%,39%,14%,11297,44981,9.67,50%
freq,20,32,47,17,13,4,1,3,2,3,5,1,1,3,14

In [150]:
dfs_droped = dfs.drop(['aloha'])
dfs_droped

,NAME,AGE,COUNTRY,TEAM,EARNED,MATCHES,NICKNAME,FORM,RATING,MATCH PERFORMANCE,PRECISION,SURVIVAL,DISTANCE,KILLS,EXPERIENCE
NICKNAME,,,,,,,,,,,,,,,
2heart,Sin Hyoek-jun,–,"Korea, Republic of",Griffin,40395,527,2heart,85%,254%,47%,15%,10932,82620,7.67,50%
ayoh,Lee Choong Beom,26 years,"Korea, Republic of",ALG,23077,339,ayoh,112%,97%,46%,13%,10620,49968,5.67,45%
seongjang,Seong Jang-hwan,27 years,"Korea, Republic of",FSG,160548,503,seongjang,103%,258%,45%,12%,10542,61133,7.67,50%
kayle,Jeong Su-yong,21 years,"Korea, Republic of",T1,167606,481,kayle,107%,261%,39%,13%,9897,44292,5,50%
menteul,Im Yeong-su,–,"Korea, Republic of",Griffin,102378,443,menteul,97%,165%,47%,12%,9974,72156,4.67,50%
silky,Choi Ji-hoon,–,"Korea, Republic of",DWG KIA,23715,373,silky,119%,103%,40%,13%,9574,55045,3.67,45%
under,Park Sung-chan,23 years,"Korea, Republic of",DWG KIA,68311,680,under,98%,428%,55%,16%,11411,54628,11,50%
indigo,Seol Do-hoon,26 years,"Korea, Republic of",E36,157136,478,indigo,87%,334%,39%,12%,10546,45742,5.33,50%
minsung,Kim Min-sung,–,"Korea, Republic of",...,32260,459,minsung,93%,124%,42%,19%,11230,68740,5,45%
pio,Cha Seung Hoon,–,"Korea, Republic of",GEN,855202,545,pio,96%,447%,64%,21%,11892,56628,18.67,50%
loki,Jung Young Park,23 years,"Korea, Republic of",DWG KIA,933540,620,loki,88%,362%,48%,11%,11306,62098,9,57%
ej,Lee Jung-woo,20 years,"Korea, Republic of",AF,53416,596,ej,84%,362%,43%,15%,11949,47303,8.67,50%
yunjong,Choi Yun-jong,23 years,"Korea, Republic of",DNW,17678,511,yunjong,107%,278%,53%,14%,11870,58244,10.33,50%
zenith,Lee Jae-sung,–,"Korea, Republic of",OPGG,9990,225,zenith,80%,120%,34%,9%,9988,48460,5.33,45%
hwan2da,Jang Hwan,23 years,"Korea, Republic of",T1,101246,462,hwan2da,108%,220%,47%,14%,10954,44981,6,50%
sparrow,Byeon Jung Hwan,22 years,"Korea, Republic of",ATA,18379,502,sparrow,99%,181%,51%,14%,10250,38100,9.67,50%
inonix,Na Hee-joo,–,"Korea, Republic of",GEN,316534,546,inonix,97%,419%,62%,14%,11965,56762,16.33,50%
orange,–,–,"Korea, Republic of",...,–,5,orange,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
alphaca,Bang Ji-min,–,"Korea, Republic of",...,278449,196,alphaca,96%,138%,42%,19%,11842,55217,11,45%
dowon,–,–,"Korea, Republic of",...,6565,175,dowon,100%,0%,39%,27%,4376,17744,1.67,30%
piky,–,–,"Korea, Republic of",...,8960,388,piky,117%,152%,38%,21%,10198,55379,4,40%
adder,Jeong Ji-hun,22 years,"Korea, Republic of",GBL,59441,530,adder,103%,291%,44%,14%,9940,41546,7.33,50%
maczora,Han Dae-kyu,–,"Korea, Republic of",ATA,14670,432,maczora,96%,148%,51%,21%,10713,42622,14.33,45%
dg98,Dae Kwon Hwang,–,"Korea, Republic of",FSG,73931,201,dg98,104%,48%,49%,17%,10389,38146,9.33,45%
rex,Kim Hae-chan,19 years,"Korea, Republic of",DNW,25912,438,rex,90%,241%,44%,11%,11297,45741,9.67,45%
kali,–,–,"Korea, Republic of",...,–,48,kali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
akan,Kim Min-wook,20 years,"Korea, Republic of",WS,7161,165,akan,113%,60%,46%,19%,10012,38655,9.33,30%
k1nch,Kang Min-seong,–,"Korea, Republic of",KGA,4025,110,k1nch,103%,0%,42%,8%,7981,40299,5.33,40%
hellen,Ahn Kang-hyun,20 years,"Korea, Republic of",WS,33743,190,hellen,91%,52%,46%,16%,10016,45817,9.67,40%
gujamyoung,–,–,"Korea, Republic of",SM,670,15,gujamyoung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dino,–,–,"Korea, Republic of",...,113,85,dino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
smoke,Yoo Tae-kyu,–,"Korea, Republic of",...,1081,186,smoke,106%,84%,48%,15%,10502,51789,11.33,40%
yun,Kim Do-hyun,26 years,"Korea, Republic of",T1,124417,520,yun,97%,324%,44%,21%,10901,41760,6.33,50%
minuda,–,–,"Korea, Republic of",...,110,70,minuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
alone,–,–,"Korea, Republic of",MCL,745,15,alone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
donghyun,–,–,"Korea, Republic of",FR,–,25,donghyun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
laura,–,–,"Korea, Republic of",...,–,15,laura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
spacebin,–,–,"Korea, Republic of",...,–,19,spacebin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zamil,–,–,"Korea, Republic of",KT,1947,85,zamil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
apxb,–,–,"Korea, Republic of",AFK,–,15,apxb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
alyu,–,–,"Korea, Republic of",GE,–,35,alyu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kasa,–,–,"Korea, Republic of",...,–,10,kasa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
poodle,–,–,"Korea, Republic of",...,–,4,poodle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chanahri,–,–,"Korea, Republic of",...,–,10,chanahri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mxxu,–,–,"Korea, Republic of",...,–,10,mxxu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nojam,–,–,"Korea, Republic of",...,–,25,nojam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
# dfs_droped['MATCHES'] = dfs_droped['MATCHES'].str.replace(' ', '')
# dfs_droped['MATCHES'] = dfs_droped['MATCHES'].str.replace('-','0')

# dfs_droped['MATCHES'].str.split("/").str[0].replace('-', '0')
dfs_droped['MATCHES'] = dfs_droped['MATCHES'].astype('int64')

In [156]:
dfs_min = dfs_droped[dfs_droped['MATCHES'] >= 100]
dfs_min

,COUNTRY,MATCHES,NICKNAME,FORM,RATING,MATCH PERFORMANCE,PRECISION,SURVIVAL,DISTANCE,KILLS,EXPERIENCE
NICKNAME,,,,,,,,,,,
2heart,"Korea, Republic of",527,2heart,85%,254%,47%,15%,10932,82620,7.67,50%
ayoh,"Korea, Republic of",339,ayoh,112%,97%,46%,13%,10620,49968,5.67,45%
seongjang,"Korea, Republic of",503,seongjang,103%,258%,45%,12%,10542,61133,7.67,50%
kayle,"Korea, Republic of",481,kayle,107%,261%,39%,13%,9897,44292,5,50%
menteul,"Korea, Republic of",443,menteul,97%,165%,47%,12%,9974,72156,4.67,50%
silky,"Korea, Republic of",373,silky,119%,103%,40%,13%,9574,55045,3.67,45%
under,"Korea, Republic of",680,under,98%,428%,55%,16%,11411,54628,11,50%
indigo,"Korea, Republic of",478,indigo,87%,334%,39%,12%,10546,45742,5.33,50%
minsung,"Korea, Republic of",459,minsung,93%,124%,42%,19%,11230,68740,5,45%
pio,"Korea, Republic of",545,pio,96%,447%,64%,21%,11892,56628,18.67,50%
loki,"Korea, Republic of",620,loki,88%,362%,48%,11%,11306,62098,9,57%
ej,"Korea, Republic of",596,ej,84%,362%,43%,15%,11949,47303,8.67,50%
yunjong,"Korea, Republic of",511,yunjong,107%,278%,53%,14%,11870,58244,10.33,50%
zenith,"Korea, Republic of",225,zenith,80%,120%,34%,9%,9988,48460,5.33,45%
hwan2da,"Korea, Republic of",462,hwan2da,108%,220%,47%,14%,10954,44981,6,50%
sparrow,"Korea, Republic of",502,sparrow,99%,181%,51%,14%,10250,38100,9.67,50%
inonix,"Korea, Republic of",546,inonix,97%,419%,62%,14%,11965,56762,16.33,50%
alphaca,"Korea, Republic of",196,alphaca,96%,138%,42%,19%,11842,55217,11,45%
dowon,"Korea, Republic of",175,dowon,100%,0%,39%,27%,4376,17744,1.67,30%
piky,"Korea, Republic of",388,piky,117%,152%,38%,21%,10198,55379,4,40%
adder,"Korea, Republic of",530,adder,103%,291%,44%,14%,9940,41546,7.33,50%
maczora,"Korea, Republic of",432,maczora,96%,148%,51%,21%,10713,42622,14.33,45%
dg98,"Korea, Republic of",201,dg98,104%,48%,49%,17%,10389,38146,9.33,45%
rex,"Korea, Republic of",438,rex,90%,241%,44%,11%,11297,45741,9.67,45%
akan,"Korea, Republic of",165,akan,113%,60%,46%,19%,10012,38655,9.33,30%
k1nch,"Korea, Republic of",110,k1nch,103%,0%,42%,8%,7981,40299,5.33,40%
hellen,"Korea, Republic of",190,hellen,91%,52%,46%,16%,10016,45817,9.67,40%
smoke,"Korea, Republic of",186,smoke,106%,84%,48%,15%,10502,51789,11.33,40%
yun,"Korea, Republic of",520,yun,97%,324%,44%,21%,10901,41760,6.33,50%