In [1]:
import pandas as pd

In [2]:
from chicken_dinner.pubgapi import PUBG

In [3]:
api_key = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI5NDUxNTE2MC1lNWU5LTAxMzktMjZhMi02M2UwOWQxYTU2NmEiLCJpc3MiOiJnYW1lbG9ja2VyIiwiaWF0IjoxNjI5Njg2NTA1LCJwdWIiOiJibHVlaG9sZSIsInRpdGxlIjoicHViZyIsImFwcCI6InB1YmctZXN0aW1hdG9yIn0.IxZLnOjCIKC4id8gncjWkAWM8Vpr9O_k7dJjKihuycM'

In [4]:
pubg = PUBG(api_key, 'tournament')

In [5]:
pcs = pubg.tournament('as-pcs3kr')

In [6]:
# 교전상황이 엮여있다면.
# 킬이 우선, 길이가 짧은것이 두번

In [7]:
matches = pcs.get_matches()

In [8]:
for match in matches:
    tml = match.get_telemetry()
    break

In [9]:
log_key = set()
for t in tml:
    log_key.add(t._T)

In [10]:
# log_key

In [11]:
# LogPlayerKill, LogPlayerAttack, LogPlayerTakeDamage

In [12]:
lpk = []
for tm in tml:
    if tm._T == 'LogPlayerKill' and tm.common.is_game >= 1.0 :
        # and tm.damage_type_category== 'Damage_Gun'  조건 추가로 총기사망만 챙길수 있으나 일단은 보류
        lpk.append(tm.to_dict())

In [13]:
len(lpk)

60

### lpk 에 필요한 column

_D, _T, common.is_game, damage_causer_name, damage_reason,damage_type_category, distance, killer.location, killer.name, victim.location, victim.name

In [14]:
lpa = []
for tm in tml:
    if tm._T == 'LogPlayerAttack' and tm.common.is_game >= 1.0 and tm.weapon.category == 'Weapon':
        lpa.append(tm.to_dict())

In [15]:
len(lpa)

6142

### lpa 에 필요한 column

_D, _T, attacker.location, attacker.name, common.is_game, weapon.item_id

In [16]:
lpd = []
for tm in tml:
    if tm._T == 'LogPlayerTakeDamage' and tm.common.is_game >= 1.0:
        lpd.append(tm.to_dict())

In [17]:
len(lpd)

2132

### lpd 에 필요한 column

_D, _T, attacker.location, attacker.name, common.is_game, damage, damage_causåer_name, damage_reason, victim.location, victim.name

## LogPlayerKill

In [18]:
from collections import deque

In [19]:
# killer 정보만 들어가므로, 다른 dataframe 과 outer join진행시 일관성을 주기위해 killer -> attacker로 바꾼다.
# victim 은 데미지를 받을때나, 죽을때나 동일하게 victim

dq = deque()
for tm in tml:
    if tm._T == 'LogPlayerKill' and tm.common.is_game >= 1.0 :
        #조건 추가로 총기사망만 챙길수 있으나 일단은 보류
#         print(tm.keys())
#         print(tm.to_dict())
        try:
            dq.append([
            tm._D, 
            tm._T, 
            tm.common.is_game, 
            tm.damage_causer_name, 
            tm.damage_reason,
            tm.damage_type_category, 
            tm.distance, 
            tm.killer.location.x,
            tm.killer.location.y,
            tm.killer.location.z,
            tm.killer.name, 
            tm.victim.location.x,
            tm.victim.location.y,
            tm.victim.location.z,
            tm.victim.name,])
        except:
            pass

In [20]:
df_lpk = pd.DataFrame(dq, 
    columns=['_D', '_T', 'is_game', 'damage_causer_name', 'damage_reason','damage_type_category',
             'distance', 'attacker_location_x', 'attacker_location_y', 'attacker_location_z', 'attacker_name',
             'victim_location_x','victim_location_y', 'victim_location_z', 'victim_name'])

In [21]:
# df_lpk

## LogPlayerAttack

In [22]:
dq = deque()
for tm in tml:
    if tm._T == 'LogPlayerAttack' and tm.common.is_game >= 1.0 :
        try:
            dq.append([
            tm._D, 
            tm._T, 
            tm.attacker.location.x,
            tm.attacker.location.y,
            tm.attacker.location.z,
            tm.attacker.name,
            tm.common.is_game, 
            tm.weapon.item_id])
        except:
            pass

In [23]:
df_lpa = pd.DataFrame(dq, 
    columns=['_D', '_T', 'attacker_location_x', 'attacker_location_y', 'attacker_location_z', 'attacker_name',
             'is_game', 'item_id'])

In [24]:
# df_lpa

## LogPlayerTakeDamage

In [25]:
dq = deque()
for tm in tml:
    if tm._T == 'LogPlayerTakeDamage' and tm.common.is_game >= 1.0:
        try:
            dq.append([
                tm._D, 
                tm._T, 
                tm.attacker.location.x, 
                tm.attacker.location.y, 
                tm.attacker.location.z,
                tm.attacker.name, 
                tm.common.is_game, 
                tm.damage, 
                tm.damage_causer_name, 
                tm.damage_reason, 
                tm.damage_type_category,
                tm.victim.location.x, 
                tm.victim.location.y, 
                tm.victim.location.z,
                tm.victim.name
            ])
        except:
            pass

In [26]:
df_lpd = pd.DataFrame(dq, 
    columns=['_D', '_T', 'attacker_location_x', 'attacker_location_y', 'attacker_location_z', 'attacker_name',
             'is_game', 'damage','damage_causer_name','damage_reason', 'damage_type_category','victim_location_x','victim_location_y', 'victim_location_z', 'victim_name'])

In [27]:
df_result = pd.concat([df_lpa, df_lpd, df_lpk])

In [28]:
df_result['damage_type_category'].unique()

array([nan, 'Damage_VehicleCrashHit', 'Damage_Instant_Fall',
       'Damage_VehicleHit', 'Damage_Gun', 'Damage_Groggy',
       'Damage_Explosion_Grenade', 'Damage_Molotov', 'Damage_BlueZone'],
      dtype=object)

In [29]:
df_sorted = df_result.sort_values(['_D'])

In [30]:
df_sorted['index'] = range(0, len(df_sorted))

In [31]:
# df_sorted 는 lpa , lpd, lpk  세가지를 합쳐서 시간순으로 정렬하고, index를 부여.
# 일단 damage take 정보로 교전 index를 추출

In [32]:
c1 = df_sorted['damage'].isna() == False
c2 = df_sorted['_T'] == 'LogPlayerKill'

In [33]:
df_battle = df_sorted[c1 | c2]

In [34]:
df_battle

,_D,_T,attacker_location_x,attacker_location_y,attacker_location_z,attacker_name,is_game,item_id,damage,damage_causer_name,damage_reason,damage_type_category,victim_location_x,victim_location_y,victim_location_z,victim_name,distance,index
0,2020-09-18T11:56:52.583Z,LogPlayerTakeDamage,161416.25000,324345.093750,1649.959106,GEN_Loki,1.0,NaN,17.691690,Uaz_B_01_esports_C,NonSpecific,Damage_VehicleCrashHit,161416.25000,324345.093750,1649.959106,GEN_Loki,NaN,0
1,2020-09-18T11:58:25.369Z,LogPlayerTakeDamage,296749.68750,187382.078125,8989.616211,EM_Lash,1.0,NaN,13.503960,Uaz_B_01_esports_C,NonSpecific,Damage_VehicleCrashHit,296749.68750,187382.078125,8989.616211,EM_Lash,NaN,35
2,2020-09-18T11:58:49.915Z,LogPlayerTakeDamage,564608.87500,250838.031250,208.330002,DNW_JeffLocka,1.0,NaN,19.129883,PlayerFemale_A_C,NonSpecific,Damage_Instant_Fall,564608.87500,250838.031250,208.330002,DNW_JeffLocka,NaN,57
3,2020-09-18T11:59:25.020Z,LogPlayerTakeDamage,544936.37500,254726.375000,192.019989,DNW_LeClo,1.0,NaN,35.012978,PlayerMale_A_C,NonSpecific,Damage_Instant_Fall,544936.37500,254726.375000,192.019989,DNW_LeClo,NaN,76
4,2020-09-18T11:59:33.621Z,LogPlayerTakeDamage,356381.03125,184481.453125,5301.080078,EM_Makne,1.0,NaN,2.739239,BP_Motorbike_04_C,NonSpecific,Damage_VehicleHit,356381.03125,184481.453125,5301.080078,EM_Makne,NaN,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606,2020-09-18T12:26:04.416Z,LogPlayerTakeDamage,304397.62500,458358.937500,940.739990,OPGG_Silky,9.5,NaN,37.635002,WeapBerylM762_C,HeadShot,Damage_Gun,305325.90625,455996.625000,945.759949,AF_EJ,NaN,8090
1607,2020-09-18T12:26:05.094Z,LogPlayerTakeDamage,304479.96875,453949.500000,949.190002,AF_Hansia,9.5,NaN,15.539999,WeapFNFal_C,TorsoShot,Damage_Gun,301415.62500,457200.312500,936.179993,ENT_indigo,NaN,8097
58,2020-09-18T12:26:05.095Z,LogPlayerKill,304479.96875,453949.500000,949.190002,AF_Hansia,9.5,NaN,NaN,WeapFNFal_C,TorsoShot,Damage_Gun,301415.62500,457200.312500,936.179993,ENT_indigo,4467.455078,8098
1608,2020-09-18T12:26:05.471Z,LogPlayerTakeDamage,305465.15625,456857.750000,948.869995,AF_R0wha,9.5,NaN,16.440001,WeapBerylM762_C,LegShot,Damage_Gun,304359.59375,458341.218750,940.739990,OPGG_Silky,NaN,8105
59,2020-09-18T12:26:05.473Z,LogPlayerKill,305465.15625,456857.750000,948.869995,AF_R0wha,9.5,NaN,NaN,WeapBerylM762_C,LegShot,Damage_Gun,304359.59375,458341.218750,940.739990,OPGG_Silky,1850.138916,8106

In [35]:
df_battle_2 = df_battle[df_battle['attacker_name'] != df_battle['victim_name']]  # 이름이 자기자신과 같은 산출어려운 죽음은 제외

In [36]:
df_battle[['_D', '_T', 'attacker_name', 'victim_name', 'index','damage_type_category','damage_reason']]

,_D,_T,attacker_name,victim_name,index,damage_type_category,damage_reason
0,2020-09-18T11:56:52.583Z,LogPlayerTakeDamage,GEN_Loki,GEN_Loki,0,Damage_VehicleCrashHit,NonSpecific
1,2020-09-18T11:58:25.369Z,LogPlayerTakeDamage,EM_Lash,EM_Lash,35,Damage_VehicleCrashHit,NonSpecific
2,2020-09-18T11:58:49.915Z,LogPlayerTakeDamage,DNW_JeffLocka,DNW_JeffLocka,57,Damage_Instant_Fall,NonSpecific
3,2020-09-18T11:59:25.020Z,LogPlayerTakeDamage,DNW_LeClo,DNW_LeClo,76,Damage_Instant_Fall,NonSpecific
4,2020-09-18T11:59:33.621Z,LogPlayerTakeDamage,EM_Makne,EM_Makne,85,Damage_VehicleHit,NonSpecific
...,...,...,...,...,...,...,...
1606,2020-09-18T12:26:04.416Z,LogPlayerTakeDamage,OPGG_Silky,AF_EJ,8090,Damage_Gun,HeadShot
1607,2020-09-18T12:26:05.094Z,LogPlayerTakeDamage,AF_Hansia,ENT_indigo,8097,Damage_Gun,TorsoShot
58,2020-09-18T12:26:05.095Z,LogPlayerKill,AF_Hansia,ENT_indigo,8098,Damage_Gun,TorsoShot
1608,2020-09-18T12:26:05.471Z,LogPlayerTakeDamage,AF_R0wha,OPGG_Silky,8105,Damage_Gun,LegShot
59,2020-09-18T12:26:05.473Z,LogPlayerKill,AF_R0wha,OPGG_Silky,8106,Damage_Gun,LegShot

In [37]:
df_battle_2[['_D', '_T', 'attacker_name', 'victim_name', 'index','damage_type_category','damage_reason']]

,_D,_T,attacker_name,victim_name,index,damage_type_category,damage_reason
6,2020-09-18T12:00:43.861Z,LogPlayerTakeDamage,ENT_Under,T1_Adder,145,Damage_Gun,TorsoShot
8,2020-09-18T12:01:23.382Z,LogPlayerTakeDamage,GEN_Pio,VSG_Menteul,198,Damage_Gun,TorsoShot
12,2020-09-18T12:02:41.279Z,LogPlayerTakeDamage,DNW_JeffLocka,VLG_Hikari,380,Damage_Gun,TorsoShot
13,2020-09-18T12:03:00.852Z,LogPlayerTakeDamage,VLG_PLIKHE,DNW_Draft,430,Damage_Gun,ArmShot
14,2020-09-18T12:03:01.447Z,LogPlayerTakeDamage,VLG_PLIKHE,DNW_Draft,439,Damage_Gun,TorsoShot
...,...,...,...,...,...,...,...
1606,2020-09-18T12:26:04.416Z,LogPlayerTakeDamage,OPGG_Silky,AF_EJ,8090,Damage_Gun,HeadShot
1607,2020-09-18T12:26:05.094Z,LogPlayerTakeDamage,AF_Hansia,ENT_indigo,8097,Damage_Gun,TorsoShot
58,2020-09-18T12:26:05.095Z,LogPlayerKill,AF_Hansia,ENT_indigo,8098,Damage_Gun,TorsoShot
1608,2020-09-18T12:26:05.471Z,LogPlayerTakeDamage,AF_R0wha,OPGG_Silky,8105,Damage_Gun,LegShot
59,2020-09-18T12:26:05.473Z,LogPlayerKill,AF_R0wha,OPGG_Silky,8106,Damage_Gun,LegShot

In [38]:
battle_index = []

# 그로기 보기위해 df_2 한번 맞춤 나중에 이거 삭제

In [39]:
df_battle_2 = df_battle

In [40]:
df_kill_log = df_battle_2[df_battle_2['_T']== 'LogPlayerKill'][['index', '_D', 'attacker_name', 'victim_name','damage_type_category','damage_reason']]

In [41]:
df_kill_log['death_player'] = df_kill_log['victim_name']

In [42]:
df_kill_log.columns = ['index', 'time', 'attacker', 'defender', 'damage_type_category','damage_reason','victim',]

In [43]:
# df_kill_log

In [44]:
df_battle_2.columns

Index(['_D', '_T', 'attacker_location_x', 'attacker_location_y',
       'attacker_location_z', 'attacker_name', 'is_game', 'item_id', 'damage',
       'damage_causer_name', 'damage_reason', 'damage_type_category',
       'victim_location_x', 'victim_location_y', 'victim_location_z',
       'victim_name', 'distance', 'index'],
      dtype='object')

In [45]:
df_battle_3 = df_battle_2[['index', '_D','_T','attacker_name','victim_name','damage','damage_causer_name' ,'damage_type_category','damage_reason']]

In [46]:
df_battle_3

,index,_D,_T,attacker_name,victim_name,damage,damage_causer_name,damage_type_category,damage_reason
0,0,2020-09-18T11:56:52.583Z,LogPlayerTakeDamage,GEN_Loki,GEN_Loki,17.691690,Uaz_B_01_esports_C,Damage_VehicleCrashHit,NonSpecific
1,35,2020-09-18T11:58:25.369Z,LogPlayerTakeDamage,EM_Lash,EM_Lash,13.503960,Uaz_B_01_esports_C,Damage_VehicleCrashHit,NonSpecific
2,57,2020-09-18T11:58:49.915Z,LogPlayerTakeDamage,DNW_JeffLocka,DNW_JeffLocka,19.129883,PlayerFemale_A_C,Damage_Instant_Fall,NonSpecific
3,76,2020-09-18T11:59:25.020Z,LogPlayerTakeDamage,DNW_LeClo,DNW_LeClo,35.012978,PlayerMale_A_C,Damage_Instant_Fall,NonSpecific
4,85,2020-09-18T11:59:33.621Z,LogPlayerTakeDamage,EM_Makne,EM_Makne,2.739239,BP_Motorbike_04_C,Damage_VehicleHit,NonSpecific
...,...,...,...,...,...,...,...,...,...
1606,8090,2020-09-18T12:26:04.416Z,LogPlayerTakeDamage,OPGG_Silky,AF_EJ,37.635002,WeapBerylM762_C,Damage_Gun,HeadShot
1607,8097,2020-09-18T12:26:05.094Z,LogPlayerTakeDamage,AF_Hansia,ENT_indigo,15.539999,WeapFNFal_C,Damage_Gun,TorsoShot
58,8098,2020-09-18T12:26:05.095Z,LogPlayerKill,AF_Hansia,ENT_indigo,NaN,WeapFNFal_C,Damage_Gun,TorsoShot
1608,8105,2020-09-18T12:26:05.471Z,LogPlayerTakeDamage,AF_R0wha,OPGG_Silky,16.440001,WeapBerylM762_C,Damage_Gun,LegShot
59,8106,2020-09-18T12:26:05.473Z,LogPlayerKill,AF_R0wha,OPGG_Silky,NaN,WeapBerylM762_C,Damage_Gun,LegShot

In [47]:
df_kl = df_kill_log[['index','victim']]

In [48]:
df_battle_4 = pd.merge(df_kl,df_battle_3,how='outer', on='index')
df_battle_4

,index,victim,_D,_T,attacker_name,victim_name,damage,damage_causer_name,damage_type_category,damage_reason
0,748,DNW_Draft,2020-09-18T12:03:33.922Z,LogPlayerKill,VLG_PLIKHE,DNW_Draft,NaN,WeapBerylM762_C,Damage_Gun,TorsoShot
1,877,VLG_Hikari,2020-09-18T12:04:12.501Z,LogPlayerKill,DNW_LeClo,VLG_Hikari,NaN,WeapBerylM762_C,Damage_Gun,PelvisShot
2,1000,DNW_JeffLocka,2020-09-18T12:04:33.985Z,LogPlayerKill,VLG_Hikari,DNW_JeffLocka,NaN,PlayerFemale_A_C,Damage_Groggy,None
3,1566,QDR_yacha,2020-09-18T12:05:54.054Z,LogPlayerKill,VSG_Hulk,QDR_yacha,NaN,WeapHK416_C,Damage_Gun,HeadShot
4,1668,QDR_Yeowook,2020-09-18T12:05:59.507Z,LogPlayerKill,VSG_Foxy,QDR_Yeowook,NaN,WeapHK416_C,Damage_Gun,PelvisShot
...,...,...,...,...,...,...,...,...,...,...
1664,8073,NaN,2020-09-18T12:26:03.496Z,LogPlayerTakeDamage,AF_EJ,OPGG_Silky,64.860001,WeapBerylM762_C,Damage_Gun,HeadShot
1665,8077,NaN,2020-09-18T12:26:03.751Z,LogPlayerTakeDamage,AF_EJ,OPGG_Silky,20.699999,WeapBerylM762_C,Damage_Gun,TorsoShot
1666,8090,NaN,2020-09-18T12:26:04.416Z,LogPlayerTakeDamage,OPGG_Silky,AF_EJ,37.635002,WeapBerylM762_C,Damage_Gun,HeadShot
1667,8097,NaN,2020-09-18T12:26:05.094Z,LogPlayerTakeDamage,AF_Hansia,ENT_indigo,15.539999,WeapFNFal_C,Damage_Gun,TorsoShot
1668,8105,NaN,2020-09-18T12:26:05.471Z,LogPlayerTakeDamage,AF_R0wha,OPGG_Silky,16.440001,WeapBerylM762_C,Damage_Gun,LegShot

In [49]:
df_battle_4.columns

Index(['index', 'victim', '_D', '_T', 'attacker_name', 'victim_name', 'damage',
       'damage_causer_name', 'damage_type_category', 'damage_reason'],
      dtype='object')

In [50]:
df_battle_4

,index,victim,_D,_T,attacker_name,victim_name,damage,damage_causer_name,damage_type_category,damage_reason
0,748,DNW_Draft,2020-09-18T12:03:33.922Z,LogPlayerKill,VLG_PLIKHE,DNW_Draft,NaN,WeapBerylM762_C,Damage_Gun,TorsoShot
1,877,VLG_Hikari,2020-09-18T12:04:12.501Z,LogPlayerKill,DNW_LeClo,VLG_Hikari,NaN,WeapBerylM762_C,Damage_Gun,PelvisShot
2,1000,DNW_JeffLocka,2020-09-18T12:04:33.985Z,LogPlayerKill,VLG_Hikari,DNW_JeffLocka,NaN,PlayerFemale_A_C,Damage_Groggy,None
3,1566,QDR_yacha,2020-09-18T12:05:54.054Z,LogPlayerKill,VSG_Hulk,QDR_yacha,NaN,WeapHK416_C,Damage_Gun,HeadShot
4,1668,QDR_Yeowook,2020-09-18T12:05:59.507Z,LogPlayerKill,VSG_Foxy,QDR_Yeowook,NaN,WeapHK416_C,Damage_Gun,PelvisShot
...,...,...,...,...,...,...,...,...,...,...
1664,8073,NaN,2020-09-18T12:26:03.496Z,LogPlayerTakeDamage,AF_EJ,OPGG_Silky,64.860001,WeapBerylM762_C,Damage_Gun,HeadShot
1665,8077,NaN,2020-09-18T12:26:03.751Z,LogPlayerTakeDamage,AF_EJ,OPGG_Silky,20.699999,WeapBerylM762_C,Damage_Gun,TorsoShot
1666,8090,NaN,2020-09-18T12:26:04.416Z,LogPlayerTakeDamage,OPGG_Silky,AF_EJ,37.635002,WeapBerylM762_C,Damage_Gun,HeadShot
1667,8097,NaN,2020-09-18T12:26:05.094Z,LogPlayerTakeDamage,AF_Hansia,ENT_indigo,15.539999,WeapFNFal_C,Damage_Gun,TorsoShot
1668,8105,NaN,2020-09-18T12:26:05.471Z,LogPlayerTakeDamage,AF_R0wha,OPGG_Silky,16.440001,WeapBerylM762_C,Damage_Gun,LegShot

In [51]:
# len(df_battle_4['index'].unique())

In [52]:
df_battle_4.columns = ['index', 'victim','_D', '_T', 'attacker', 'defender', 'damage', 'damage_causer_name','damage_type_category','damage_reason']

In [53]:
df_battle_4

,index,victim,_D,_T,attacker,defender,damage,damage_causer_name,damage_type_category,damage_reason
0,748,DNW_Draft,2020-09-18T12:03:33.922Z,LogPlayerKill,VLG_PLIKHE,DNW_Draft,NaN,WeapBerylM762_C,Damage_Gun,TorsoShot
1,877,VLG_Hikari,2020-09-18T12:04:12.501Z,LogPlayerKill,DNW_LeClo,VLG_Hikari,NaN,WeapBerylM762_C,Damage_Gun,PelvisShot
2,1000,DNW_JeffLocka,2020-09-18T12:04:33.985Z,LogPlayerKill,VLG_Hikari,DNW_JeffLocka,NaN,PlayerFemale_A_C,Damage_Groggy,None
3,1566,QDR_yacha,2020-09-18T12:05:54.054Z,LogPlayerKill,VSG_Hulk,QDR_yacha,NaN,WeapHK416_C,Damage_Gun,HeadShot
4,1668,QDR_Yeowook,2020-09-18T12:05:59.507Z,LogPlayerKill,VSG_Foxy,QDR_Yeowook,NaN,WeapHK416_C,Damage_Gun,PelvisShot
...,...,...,...,...,...,...,...,...,...,...
1664,8073,NaN,2020-09-18T12:26:03.496Z,LogPlayerTakeDamage,AF_EJ,OPGG_Silky,64.860001,WeapBerylM762_C,Damage_Gun,HeadShot
1665,8077,NaN,2020-09-18T12:26:03.751Z,LogPlayerTakeDamage,AF_EJ,OPGG_Silky,20.699999,WeapBerylM762_C,Damage_Gun,TorsoShot
1666,8090,NaN,2020-09-18T12:26:04.416Z,LogPlayerTakeDamage,OPGG_Silky,AF_EJ,37.635002,WeapBerylM762_C,Damage_Gun,HeadShot
1667,8097,NaN,2020-09-18T12:26:05.094Z,LogPlayerTakeDamage,AF_Hansia,ENT_indigo,15.539999,WeapFNFal_C,Damage_Gun,TorsoShot
1668,8105,NaN,2020-09-18T12:26:05.471Z,LogPlayerTakeDamage,AF_R0wha,OPGG_Silky,16.440001,WeapBerylM762_C,Damage_Gun,LegShot

In [54]:
df_battle_5= df_battle_4[['index', '_D', '_T', 'attacker', 'defender', 'victim', 'damage_causer_name','damage','damage_type_category','damage_reason']].sort_values(['index'])

In [55]:
df_battle_5

,index,_D,_T,attacker,defender,victim,damage_causer_name,damage,damage_type_category,damage_reason
60,0,2020-09-18T11:56:52.583Z,LogPlayerTakeDamage,GEN_Loki,GEN_Loki,NaN,Uaz_B_01_esports_C,17.691690,Damage_VehicleCrashHit,NonSpecific
61,35,2020-09-18T11:58:25.369Z,LogPlayerTakeDamage,EM_Lash,EM_Lash,NaN,Uaz_B_01_esports_C,13.503960,Damage_VehicleCrashHit,NonSpecific
62,57,2020-09-18T11:58:49.915Z,LogPlayerTakeDamage,DNW_JeffLocka,DNW_JeffLocka,NaN,PlayerFemale_A_C,19.129883,Damage_Instant_Fall,NonSpecific
63,76,2020-09-18T11:59:25.020Z,LogPlayerTakeDamage,DNW_LeClo,DNW_LeClo,NaN,PlayerMale_A_C,35.012978,Damage_Instant_Fall,NonSpecific
64,85,2020-09-18T11:59:33.621Z,LogPlayerTakeDamage,EM_Makne,EM_Makne,NaN,BP_Motorbike_04_C,2.739239,Damage_VehicleHit,NonSpecific
...,...,...,...,...,...,...,...,...,...,...
1666,8090,2020-09-18T12:26:04.416Z,LogPlayerTakeDamage,OPGG_Silky,AF_EJ,NaN,WeapBerylM762_C,37.635002,Damage_Gun,HeadShot
1667,8097,2020-09-18T12:26:05.094Z,LogPlayerTakeDamage,AF_Hansia,ENT_indigo,NaN,WeapFNFal_C,15.539999,Damage_Gun,TorsoShot
58,8098,2020-09-18T12:26:05.095Z,LogPlayerKill,AF_Hansia,ENT_indigo,ENT_indigo,WeapFNFal_C,NaN,Damage_Gun,TorsoShot
1668,8105,2020-09-18T12:26:05.471Z,LogPlayerTakeDamage,AF_R0wha,OPGG_Silky,NaN,WeapBerylM762_C,16.440001,Damage_Gun,LegShot
59,8106,2020-09-18T12:26:05.473Z,LogPlayerKill,AF_R0wha,OPGG_Silky,OPGG_Silky,WeapBerylM762_C,NaN,Damage_Gun,LegShot

In [56]:
# df_battle_5 에서 damage가 NaN이 아닌 0으로 찍힌 값들이 기절상태에서 받은 데미지.

In [57]:
df_battle_5['damage_type_category'].unique()

array(['Damage_VehicleCrashHit', 'Damage_Instant_Fall',
       'Damage_VehicleHit', 'Damage_Gun', 'Damage_Groggy',
       'Damage_Explosion_Grenade', 'Damage_Molotov', 'Damage_BlueZone'],
      dtype=object)

In [58]:
df_battle_table = df_battle_5[~df_battle_5['damage_type_category'].isin(['Damage_Instant_Fall','Damage_BlueZone','Damage_Groggy'])]
df_battle_table

,index,_D,_T,attacker,defender,victim,damage_causer_name,damage,damage_type_category,damage_reason
60,0,2020-09-18T11:56:52.583Z,LogPlayerTakeDamage,GEN_Loki,GEN_Loki,NaN,Uaz_B_01_esports_C,17.691690,Damage_VehicleCrashHit,NonSpecific
61,35,2020-09-18T11:58:25.369Z,LogPlayerTakeDamage,EM_Lash,EM_Lash,NaN,Uaz_B_01_esports_C,13.503960,Damage_VehicleCrashHit,NonSpecific
64,85,2020-09-18T11:59:33.621Z,LogPlayerTakeDamage,EM_Makne,EM_Makne,NaN,BP_Motorbike_04_C,2.739239,Damage_VehicleHit,NonSpecific
66,145,2020-09-18T12:00:43.861Z,LogPlayerTakeDamage,ENT_Under,T1_Adder,NaN,WeapMini14_C,24.879927,Damage_Gun,TorsoShot
68,198,2020-09-18T12:01:23.382Z,LogPlayerTakeDamage,GEN_Pio,VSG_Menteul,NaN,WeapFNFal_C,35.234978,Damage_Gun,TorsoShot
...,...,...,...,...,...,...,...,...,...,...
1666,8090,2020-09-18T12:26:04.416Z,LogPlayerTakeDamage,OPGG_Silky,AF_EJ,NaN,WeapBerylM762_C,37.635002,Damage_Gun,HeadShot
1667,8097,2020-09-18T12:26:05.094Z,LogPlayerTakeDamage,AF_Hansia,ENT_indigo,NaN,WeapFNFal_C,15.539999,Damage_Gun,TorsoShot
58,8098,2020-09-18T12:26:05.095Z,LogPlayerKill,AF_Hansia,ENT_indigo,ENT_indigo,WeapFNFal_C,NaN,Damage_Gun,TorsoShot
1668,8105,2020-09-18T12:26:05.471Z,LogPlayerTakeDamage,AF_R0wha,OPGG_Silky,NaN,WeapBerylM762_C,16.440001,Damage_Gun,LegShot
59,8106,2020-09-18T12:26:05.473Z,LogPlayerKill,AF_R0wha,OPGG_Silky,OPGG_Silky,WeapBerylM762_C,NaN,Damage_Gun,LegShot

## 교전상황 정의

In [59]:
# df_battle_table

In [60]:
df_battle_table_1 = df_battle_table[['index','attacker','defender','victim']]
df_battle_table_1

      index    attacker     defender      victim
60        0    GEN_Loki     GEN_Loki         NaN
61       35     EM_Lash      EM_Lash         NaN
64       85    EM_Makne     EM_Makne         NaN
66      145   ENT_Under     T1_Adder         NaN
68      198     GEN_Pio  VSG_Menteul         NaN
...     ...         ...          ...         ...
1666   8090  OPGG_Silky        AF_EJ         NaN
1667   8097   AF_Hansia   ENT_indigo         NaN
58     8098   AF_Hansia   ENT_indigo  ENT_indigo
1668   8105    AF_R0wha   OPGG_Silky         NaN
59     8106    AF_R0wha   OPGG_Silky  OPGG_Silky

[683 rows x 4 columns]

In [61]:
# GEN_Aqua5 가 a->b, b->a 경우

In [62]:
df_str_idx = df_battle_table_1.groupby(['attacker', 'defender']).min()
df_str_idx.reset_index(inplace=True)

In [63]:
df_str_idx

        attacker      defender  index
0          AF_EJ         AF_EJ   2044
1          AF_EJ      AZG_Rage   4011
2          AF_EJ     AZG_Rozar   4514
3          AF_EJ  AZG_SexyChan   4730
4          AF_EJ     AZG_Untop   4992
..           ...           ...    ...
231     emT_Piky    OPGG_Dumbo   5434
232     emT_Piky    OPGG_Silky   5015
233     emT_Piky       T1_Akad   1043
234  emT_YunJong    ENT_indigo   5543
235  emT_YunJong   emT_YunJong   6240

[236 rows x 3 columns]

In [64]:
df_str_idx.query('attacker == "GEN_Aqua5" | defender=="GEN_Aqua5"')

       attacker   defender  index
89    GEN_Aqua5   GRF_2tap   6433
96      GEN_Pio  GEN_Aqua5   3047
98   GRF_2heart  GEN_Aqua5   6350
103    GRF_2tap  GEN_Aqua5   6426

In [65]:
p1 = df_str_idx['attacker']
p2 = df_str_idx['defender']

In [66]:
for row in df_str_idx.iloc():
#     print(row['attacker'], row['defender'], row['index'])
    p1 = row['attacker']
    p2 = row['defender']
    c1 = df_str_idx.query('attacker == @p1 & defender == @p2')
    c2 = df_str_idx.query('attacker == @p2 & defender == @p1')
    try :
        t = [c1['index'].values[0], c2['index'].values[0]]
        t.sort()
    except:
        pass
    else:
        row['index'] = t[0]
    print(row['index'])

<ipython-input-66-f1244ffc5842>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['index'] = t[0]

2044
4011
4514
4730
4992
7853
3336
7345
7334
6764
8018
8025
4177
7920
1946
3353
7350
7299
5631
5970
2100
7664
4409
4298
4727
7584
6135
7040
7234
7753
7526
7201
6986
7289
5527
2560
3918
367
430
380
2670
3578
3531
2150
845
889
3465
922
35
3624
85
3533
3723
3986
7443
3798
3843
4458
7920
1967
4766
4749
7315
1530
2605
2506
145
3433
3423
4143
5777
7878
6829
7208
5520
4753
7907
5086
3909
6148
4160
7793
7228
4714
4736
4547
7320
7490
5802
6426
3465
4072
3578
0
4082
3545
3047
198
6350
6302
3755
6628
1172
6426
6294
6096
835
6716
4082
3049
7257
7160
5527
6304
6396
6587
6591
2455
4408
4887
3709
2175
1937
2062
4735
5064
2506
6628
7160
7125
2329
4328
4924
3742
2761
1606
1464
7090
4517
3403
5469
4753
4547
2114
3712
4402
4923
7776
7626
5281
3962
5284
6815
7073
7224
5970
4132
7002
7518
7987
7320
5170
5145
8025
2100
7234
4403
6786
6999
7746
5015
1590
3460
6845
2175
5753
1606
3080
6570
2824
4408
2062
4328
3624
1591
2580
1775
1610
1836
2387
771
3715
2552
2150
743
380
430
889
5535
3433
5532
7510
6507
3261
298
5628
5695
5697
3423
5086
7090
1691
1592
3100
1836
3191
291
1590
1480
3691
3166
2387
1198
1761
1494
771
2552
5619
4569
4006
4424
5434
5015
1043
5543
6240

In [67]:
df_str_idx.query('attacker == "GEN_Aqua5" | defender=="GEN_Aqua5"')

       attacker   defender  index
89    GEN_Aqua5   GRF_2tap   6433
96      GEN_Pio  GEN_Aqua5   3047
98   GRF_2heart  GEN_Aqua5   6350
103    GRF_2tap  GEN_Aqua5   6426

In [68]:
df_battle_table_2 = pd.merge(df_battle_table_1,df_str_idx, how='outer', on=['attacker', 'defender'])
df_battle_table_2.columns

Index(['index_x', 'attacker', 'defender', 'victim', 'index_y'], dtype='object')

In [69]:
df_battle_table_2.columns = ['index', 'attacker', 'defender', 'victim', 'battle_start_idx']

In [70]:
df_battle_table_2

     index    attacker    defender victim  battle_start_idx
0        0    GEN_Loki    GEN_Loki    NaN                 0
1       35     EM_Lash     EM_Lash    NaN                35
2      806     EM_Lash     EM_Lash    NaN                35
3       85    EM_Makne    EM_Makne    NaN                85
4      145   ENT_Under    T1_Adder    NaN               145
..     ...         ...         ...    ...               ...
678   8055  OPGG_Silky    AF_R0wha    NaN              8051
679   8056  OPGG_Silky    AF_R0wha    NaN              8051
680   8057  OPGG_Silky    AF_R0wha    NaN              8051
681   8073       AF_EJ  OPGG_Silky    NaN              8073
682   8077       AF_EJ  OPGG_Silky    NaN              8073

[683 rows x 5 columns]

In [71]:
df_end_idx = df_battle_table_1.groupby(['attacker', 'defender']).max().sort_values(['index'])

In [72]:
df_battle_table_3 = pd.merge(df_battle_table_2,df_end_idx, how='outer', on=['attacker', 'defender'])

In [73]:
df_battle_table_3.columns = ['index', 'attacker', 'defender', 'victim', 'battle_start_idx','battle_end_idx']
df_battle_table_3

     index    attacker    defender victim  battle_start_idx  battle_end_idx
0        0    GEN_Loki    GEN_Loki    NaN                 0               0
1       35     EM_Lash     EM_Lash    NaN                35             806
2      806     EM_Lash     EM_Lash    NaN                35             806
3       85    EM_Makne    EM_Makne    NaN                85              85
4      145   ENT_Under    T1_Adder    NaN               145             145
..     ...         ...         ...    ...               ...             ...
678   8055  OPGG_Silky    AF_R0wha    NaN              8051            8057
679   8056  OPGG_Silky    AF_R0wha    NaN              8051            8057
680   8057  OPGG_Silky    AF_R0wha    NaN              8051            8057
681   8073       AF_EJ  OPGG_Silky    NaN              8073            8077
682   8077       AF_EJ  OPGG_Silky    NaN              8073            8077

[683 rows x 6 columns]

### type1 : Kill이 발생하고 종료된 교전

In [74]:
df_result_type1 = df_battle_table_3[~df_battle_table_3['victim'].isna()]
# 경기시간이 비이상적인 데이터를 후처리하지 않음
# df_result_type1

In [75]:
df_battle_table_4 = df_battle_table_3[df_battle_table_3['victim'].isna()]
df_battle_table_5 = df_battle_table_4.drop(['index'], axis=1)
df_battle_table_6 = df_battle_table_5.drop_duplicates()

In [76]:
df_result_type2 = df_battle_table_6.query('battle_end_idx - battle_start_idx >=2')

In [77]:
# df_result_type2

In [78]:
df_result_type1['origin'] = '1'

<ipython-input-78-2be6e0dd9350>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result_type1['origin'] = '1'

In [79]:
df_result_type1

,index,attacker,defender,victim,battle_start_idx,battle_end_idx,origin
15,748,VLG_PLIKHE,DNW_Draft,DNW_Draft,430,748,1
41,877,DNW_LeClo,VLG_Hikari,VLG_Hikari,845,877,1
53,1910,DNW_seoul,VLG_Lambu,VLG_Lambu,922,1910,1
69,1566,VSG_Hulk,QDR_yacha,QDR_yacha,1480,1566,1
81,1668,VSG_Foxy,QDR_Yeowook,QDR_Yeowook,1592,1668,1
103,1763,VSG_Menteul,QDR_Dlaks,QDR_Dlaks,1761,1763,1
111,8098,AF_Hansia,ENT_indigo,ENT_indigo,1946,8098,1
125,6932,KP_Black9,SP_Corn,SP_Corn,2175,6932,1
144,2857,DNW_LeClo,VLG_DAEVA,VLG_DAEVA,2790,2857,1
153,3167,VSG_Foxy,T1_Akad,T1_Akad,3100,3167,1
161,3305,VSG_DG98,T1_HelleN,T1_HelleN,3261,3305,1
194,3596,GEN_Loki,DNW_LeClo,DNW_LeClo,3578,3596,1
213,3821,KP_Black9,EM_Makne,EM_Makne,3709,3821,1
232,3780,GRF_2heart,GEN_Pio,GEN_Pio,3755,3780,1
234,3799,EM_k1nch,T1_Adder,T1_Adder,3798,3799,1
244,3921,T1_Starlord,VSG_Menteul,VSG_Menteul,3894,3921,1
251,5340,OPGG_Ayoh,AZG_SexyChan,AZG_SexyChan,3962,5340,1
253,3987,EM_Smoke,T1_Starlord,T1_Starlord,3986,3987,1
259,4436,emT_Hwarang,AZG_Rage,AZG_Rage,4006,4436,1
269,4144,ENT_Under,VSG_Hulk,VSG_Hulk,4143,4144,1
300,4495,ENT_Seongjang,LVG_ZeniTh,LVG_ZeniTh,4458,4495,1
322,5521,ENT_kAyle,LVG_Kali,LVG_Kali,4714,5521,1
423,5597,ENT_indigo,LVG_Sparrow,LVG_Sparrow,5519,5597,1
438,5850,VSG_DG98,emT_Gyuyeon,emT_Gyuyeon,5628,5850,1
446,5704,VSG_DG98,emT_Piky,emT_Piky,5695,5704,1
451,5794,SP_Corn,VLG_PLIKHE,VLG_PLIKHE,5753,5794,1
457,6520,ENT_kAyle,emT_YunJong,emT_YunJong,5802,6520,1
496,6415,GRF_2heart,GEN_Inonix,GEN_Inonix,6302,6415,1
507,6437,GRF_2tap,GEN_Aqua5,GEN_Aqua5,6426,6437,1
513,6550,VSG_DG98,OPGG_Alphaca,OPGG_Alphaca,6507,6550,1
523,6748,GRF_Minsung,SP_NEFiEX,SP_NEFiEX,6591,6748,1
551,7003,OPGG_Ayoh,EM_Smoke,EM_Smoke,6815,7003,1
557,7069,ENT_indigo,KP_Black9,KP_Black9,6829,7069,1
573,7333,OPGG_Ayoh,GRF_2tap,GRF_2tap,7073,7333,1
593,7223,ENT_indigo,KP_Joy,KP_Joy,7208,7223,1
599,7272,ENT_kAyle,KP_AKaN,KP_AKaN,7228,7272,1
604,8106,AF_R0wha,OPGG_Silky,OPGG_Silky,7234,8106,1
612,7309,AF_daengchae,GRF_Asura,GRF_Asura,7289,7309,1
618,7335,AF_EJ,GRF_Minsung,GRF_Minsung,7334,7335,1
621,7354,AF_EJ,GRF_2heart,GRF_2heart,7345,7354,1
625,7444,EM_k1nch,KP_taemin,KP_taemin,7443,7444,1
630,7530,OPGG_Dumbo,EM_k1nch,EM_k1nch,7518,7530,1
640,7756,AF_R0wha,VSG_DG98,VSG_DG98,7753,7756,1
659,7955,ENT_indigo,OPGG_Ayoh,OPGG_Ayoh,7907,7955,1

In [80]:
#df_result_type1, df_result_type2 모두 A->B, B->A 가 병합되어있지 않음.

In [81]:
df_result_type1_copy = df_result_type1.copy()
df_result_type1_copy['origin']=2
df_result_type1_copy

,index,attacker,defender,victim,battle_start_idx,battle_end_idx,origin
15,748,VLG_PLIKHE,DNW_Draft,DNW_Draft,430,748,2
41,877,DNW_LeClo,VLG_Hikari,VLG_Hikari,845,877,2
53,1910,DNW_seoul,VLG_Lambu,VLG_Lambu,922,1910,2
69,1566,VSG_Hulk,QDR_yacha,QDR_yacha,1480,1566,2
81,1668,VSG_Foxy,QDR_Yeowook,QDR_Yeowook,1592,1668,2
103,1763,VSG_Menteul,QDR_Dlaks,QDR_Dlaks,1761,1763,2
111,8098,AF_Hansia,ENT_indigo,ENT_indigo,1946,8098,2
125,6932,KP_Black9,SP_Corn,SP_Corn,2175,6932,2
144,2857,DNW_LeClo,VLG_DAEVA,VLG_DAEVA,2790,2857,2
153,3167,VSG_Foxy,T1_Akad,T1_Akad,3100,3167,2
161,3305,VSG_DG98,T1_HelleN,T1_HelleN,3261,3305,2
194,3596,GEN_Loki,DNW_LeClo,DNW_LeClo,3578,3596,2
213,3821,KP_Black9,EM_Makne,EM_Makne,3709,3821,2
232,3780,GRF_2heart,GEN_Pio,GEN_Pio,3755,3780,2
234,3799,EM_k1nch,T1_Adder,T1_Adder,3798,3799,2
244,3921,T1_Starlord,VSG_Menteul,VSG_Menteul,3894,3921,2
251,5340,OPGG_Ayoh,AZG_SexyChan,AZG_SexyChan,3962,5340,2
253,3987,EM_Smoke,T1_Starlord,T1_Starlord,3986,3987,2
259,4436,emT_Hwarang,AZG_Rage,AZG_Rage,4006,4436,2
269,4144,ENT_Under,VSG_Hulk,VSG_Hulk,4143,4144,2
300,4495,ENT_Seongjang,LVG_ZeniTh,LVG_ZeniTh,4458,4495,2
322,5521,ENT_kAyle,LVG_Kali,LVG_Kali,4714,5521,2
423,5597,ENT_indigo,LVG_Sparrow,LVG_Sparrow,5519,5597,2
438,5850,VSG_DG98,emT_Gyuyeon,emT_Gyuyeon,5628,5850,2
446,5704,VSG_DG98,emT_Piky,emT_Piky,5695,5704,2
451,5794,SP_Corn,VLG_PLIKHE,VLG_PLIKHE,5753,5794,2
457,6520,ENT_kAyle,emT_YunJong,emT_YunJong,5802,6520,2
496,6415,GRF_2heart,GEN_Inonix,GEN_Inonix,6302,6415,2
507,6437,GRF_2tap,GEN_Aqua5,GEN_Aqua5,6426,6437,2
513,6550,VSG_DG98,OPGG_Alphaca,OPGG_Alphaca,6507,6550,2
523,6748,GRF_Minsung,SP_NEFiEX,SP_NEFiEX,6591,6748,2
551,7003,OPGG_Ayoh,EM_Smoke,EM_Smoke,6815,7003,2
557,7069,ENT_indigo,KP_Black9,KP_Black9,6829,7069,2
573,7333,OPGG_Ayoh,GRF_2tap,GRF_2tap,7073,7333,2
593,7223,ENT_indigo,KP_Joy,KP_Joy,7208,7223,2
599,7272,ENT_kAyle,KP_AKaN,KP_AKaN,7228,7272,2
604,8106,AF_R0wha,OPGG_Silky,OPGG_Silky,7234,8106,2
612,7309,AF_daengchae,GRF_Asura,GRF_Asura,7289,7309,2
618,7335,AF_EJ,GRF_Minsung,GRF_Minsung,7334,7335,2
621,7354,AF_EJ,GRF_2heart,GRF_2heart,7345,7354,2
625,7444,EM_k1nch,KP_taemin,KP_taemin,7443,7444,2
630,7530,OPGG_Dumbo,EM_k1nch,EM_k1nch,7518,7530,2
640,7756,AF_R0wha,VSG_DG98,VSG_DG98,7753,7756,2
659,7955,ENT_indigo,OPGG_Ayoh,OPGG_Ayoh,7907,7955,2

In [82]:
df_result_type1_copy['attacker'] = df_result_type1['defender']
df_result_type1_copy['defender'] = df_result_type1['attacker']

In [83]:
df_result_type1_2 = pd.concat([df_result_type1, df_result_type1_copy])
df_result_type1_2

,index,attacker,defender,victim,battle_start_idx,battle_end_idx,origin
15,748,VLG_PLIKHE,DNW_Draft,DNW_Draft,430,748,1
41,877,DNW_LeClo,VLG_Hikari,VLG_Hikari,845,877,1
53,1910,DNW_seoul,VLG_Lambu,VLG_Lambu,922,1910,1
69,1566,VSG_Hulk,QDR_yacha,QDR_yacha,1480,1566,1
81,1668,VSG_Foxy,QDR_Yeowook,QDR_Yeowook,1592,1668,1
...,...,...,...,...,...,...,...
621,7354,GRF_2heart,AF_EJ,GRF_2heart,7345,7354,2
625,7444,KP_taemin,EM_k1nch,KP_taemin,7443,7444,2
630,7530,EM_k1nch,OPGG_Dumbo,EM_k1nch,7518,7530,2
640,7756,VSG_DG98,AF_R0wha,VSG_DG98,7753,7756,2
659,7955,OPGG_Ayoh,ENT_indigo,OPGG_Ayoh,7907,7955,2

In [84]:
df_result_type1_3 = df_result_type1_2.sort_values(['attacker', 'defender'])
df_result_type1_3

,index,attacker,defender,victim,battle_start_idx,battle_end_idx,origin
621,7354,AF_EJ,GRF_2heart,GRF_2heart,7345,7354,1
618,7335,AF_EJ,GRF_Minsung,GRF_Minsung,7334,7335,1
111,8098,AF_Hansia,ENT_indigo,ENT_indigo,1946,8098,1
604,8106,AF_R0wha,OPGG_Silky,OPGG_Silky,7234,8106,1
640,7756,AF_R0wha,VSG_DG98,VSG_DG98,7753,7756,1
...,...,...,...,...,...,...,...
244,3921,VSG_Menteul,T1_Starlord,VSG_Menteul,3894,3921,2
438,5850,emT_Gyuyeon,VSG_DG98,emT_Gyuyeon,5628,5850,2
259,4436,emT_Hwarang,AZG_Rage,AZG_Rage,4006,4436,1
446,5704,emT_Piky,VSG_DG98,emT_Piky,5695,5704,2
457,6520,emT_YunJong,ENT_kAyle,emT_YunJong,5802,6520,2

In [85]:
df_result_type1_4 = df_result_type1_3.groupby(['attacker', 'defender'])[['battle_start_idx', 'index','origin']].min()
df_result_type1_4.reset_index(inplace=True)

In [86]:
df_result_type1_5 = df_result_type1_3.groupby(['attacker', 'defender'])[['battle_end_idx', 'index','origin']].max()
df_result_type1_5.reset_index(inplace=True)

In [87]:
df_result_type1_4

       attacker     defender  battle_start_idx  index origin
0         AF_EJ   GRF_2heart              7345   7354      1
1         AF_EJ  GRF_Minsung              7334   7335      1
2     AF_Hansia   ENT_indigo              1946   8098      1
3      AF_R0wha   OPGG_Silky              7234   8106      1
4      AF_R0wha     VSG_DG98              7753   7756      1
..          ...          ...               ...    ...    ...
83  VSG_Menteul  T1_Starlord              3894   3921      2
84  emT_Gyuyeon     VSG_DG98              5628   5850      2
85  emT_Hwarang     AZG_Rage              4006   4436      1
86     emT_Piky     VSG_DG98              5695   5704      2
87  emT_YunJong    ENT_kAyle              5802   6520      2

[88 rows x 5 columns]

In [88]:
df_result_type1_5

       attacker     defender  battle_end_idx  index origin
0         AF_EJ   GRF_2heart            7354   7354      1
1         AF_EJ  GRF_Minsung            7335   7335      1
2     AF_Hansia   ENT_indigo            8098   8098      1
3      AF_R0wha   OPGG_Silky            8106   8106      1
4      AF_R0wha     VSG_DG98            7756   7756      1
..          ...          ...             ...    ...    ...
83  VSG_Menteul  T1_Starlord            3921   3921      2
84  emT_Gyuyeon     VSG_DG98            5850   5850      2
85  emT_Hwarang     AZG_Rage            4436   4436      1
86     emT_Piky     VSG_DG98            5704   5704      2
87  emT_YunJong    ENT_kAyle            6520   6520      2

[88 rows x 5 columns]

In [89]:
df_result_type1_6 = pd.merge(df_result_type1_4, df_result_type1_5)
df_result_type1_6

       attacker     defender  battle_start_idx  index origin  battle_end_idx
0         AF_EJ   GRF_2heart              7345   7354      1            7354
1         AF_EJ  GRF_Minsung              7334   7335      1            7335
2     AF_Hansia   ENT_indigo              1946   8098      1            8098
3      AF_R0wha   OPGG_Silky              7234   8106      1            8106
4      AF_R0wha     VSG_DG98              7753   7756      1            7756
..          ...          ...               ...    ...    ...             ...
83  VSG_Menteul  T1_Starlord              3894   3921      2            3921
84  emT_Gyuyeon     VSG_DG98              5628   5850      2            5850
85  emT_Hwarang     AZG_Rage              4006   4436      1            4436
86     emT_Piky     VSG_DG98              5695   5704      2            5704
87  emT_YunJong    ENT_kAyle              5802   6520      2            6520

[88 rows x 6 columns]

In [90]:
df_result_type1_7 = df_result_type1_6[df_result_type1_6['origin'] == '1']
df_result_type1_8 = df_result_type1_7.drop(['origin'], axis=1)

In [91]:
df_result_type1_9 = df_result_type1_8[['index', 'attacker', 'defender', 'battle_start_idx','battle_end_idx']]
df_result_type1_9.sort_values(['index'])

    index       attacker      defender  battle_start_idx  battle_end_idx
71    748     VLG_PLIKHE     DNW_Draft               430             748
11    877      DNW_LeClo    VLG_Hikari               845             877
81   1566       VSG_Hulk     QDR_yacha              1480            1566
78   1668       VSG_Foxy   QDR_Yeowook              1592            1668
82   1763    VSG_Menteul     QDR_Dlaks              1761            1763
12   1910      DNW_seoul     VLG_Lambu               922            1910
10   2857      DNW_LeClo     VLG_DAEVA              2790            2857
79   3167       VSG_Foxy       T1_Akad              3100            3167
75   3305       VSG_DG98     T1_HelleN              3261            3305
31   3596       GEN_Loki     DNW_LeClo              3578            3596
35   3780     GRF_2heart       GEN_Pio              3755            3780
18   3799       EM_k1nch      T1_Adder              3798            3799
42   3821      KP_Black9      EM_Makne              3709            3821
67   3921    T1_Starlord   VSG_Menteul              3894            3921
15   3987       EM_Smoke   T1_Starlord              3986            3987
20   4144      ENT_Under      VSG_Hulk              4143            4144
85   4436    emT_Hwarang      AZG_Rage              4006            4436
19   4495  ENT_Seongjang    LVG_ZeniTh              4458            4495
51   5340      OPGG_Ayoh  AZG_SexyChan              3962            5340
27   5521      ENT_kAyle      LVG_Kali              4714            5521
24   5597     ENT_indigo   LVG_Sparrow              5519            5597
77   5704       VSG_DG98      emT_Piky              5695            5704
61   5794        SP_Corn    VLG_PLIKHE              5753            5794
76   5850       VSG_DG98   emT_Gyuyeon              5628            5850
34   6415     GRF_2heart    GEN_Inonix              6302            6415
36   6437       GRF_2tap     GEN_Aqua5              6426            6437
28   6520      ENT_kAyle   emT_YunJong              5802            6520
74   6550       VSG_DG98  OPGG_Alphaca              6507            6550
40   6748    GRF_Minsung     SP_NEFiEX              6591            6748
44   6932      KP_Black9       SP_Corn              2175            6932
52   7003      OPGG_Ayoh      EM_Smoke              6815            7003
22   7069     ENT_indigo     KP_Black9              6829            7069
23   7223     ENT_indigo        KP_Joy              7208            7223
26   7272      ENT_kAyle       KP_AKaN              7228            7272
5    7309   AF_daengchae     GRF_Asura              7289            7309
54   7333      OPGG_Ayoh      GRF_2tap              7073            7333
1    7335          AF_EJ   GRF_Minsung              7334            7335
0    7354          AF_EJ    GRF_2heart              7345            7354
16   7444       EM_k1nch     KP_taemin              7443            7444
55   7530     OPGG_Dumbo      EM_k1nch              7518            7530
4    7756       AF_R0wha      VSG_DG98              7753            7756
25   7955     ENT_indigo     OPGG_Ayoh              7907            7955
2    8098      AF_Hansia    ENT_indigo              1946            8098
3    8106       AF_R0wha    OPGG_Silky              7234            8106

In [92]:
df_result_type1 = df_result_type1_9

In [93]:
df_result_type1.query('attacker == "ENT_Seongjang" | defender == "ENT_Seongjang" ')

    index       attacker    defender  battle_start_idx  battle_end_idx
19   4495  ENT_Seongjang  LVG_ZeniTh              4458            4495