In [1]:
import pandas as pd

In [2]:
from chicken_dinner.pubgapi import PUBG

In [3]:
api_key = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI5NDUxNTE2MC1lNWU5LTAxMzktMjZhMi02M2UwOWQxYTU2NmEiLCJpc3MiOiJnYW1lbG9ja2VyIiwiaWF0IjoxNjI5Njg2NTA1LCJwdWIiOiJibHVlaG9sZSIsInRpdGxlIjoicHViZyIsImFwcCI6InB1YmctZXN0aW1hdG9yIn0.IxZLnOjCIKC4id8gncjWkAWM8Vpr9O_k7dJjKihuycM'

In [4]:
pubg = PUBG(api_key, 'tournament')

In [5]:
pcs = pubg.tournament('as-pcs3kr')

In [6]:
matches = pcs.get_matches()

In [7]:
for match in matches:
    tml = match.get_telemetry()
    break

## LogPlayerKill

In [8]:
from collections import deque

In [9]:
# killer 정보만 들어가므로, 다른 dataframe 과 outer join진행시 일관성을 주기위해 killer -> attacker로 바꾼다.
# victim 은 데미지를 받을때나, 죽을때나 동일하게 victim

dq = deque()
for tm in tml:
    if tm._T == 'LogPlayerKill' and tm.common.is_game >= 1.0 :
        #조건 추가로 총기사망만 챙길수 있으나 일단은 보류
#         print(tm.keys())
#         print(tm.to_dict())
        try:
            dq.append([
            tm._D, 
            tm._T, 
            tm.common.is_game, 
            tm.damage_causer_name, 
            tm.damage_reason,
            tm.damage_type_category, 
            tm.distance, 
            tm.killer.location.x,
            tm.killer.location.y,
            tm.killer.location.z,
            tm.killer.name, 
            tm.victim.location.x,
            tm.victim.location.y,
            tm.victim.location.z,
            tm.victim.name,])
        except:
            pass

In [10]:
df_lpk = pd.DataFrame(dq, 
    columns=['_D', '_T', 'is_game', 'damage_causer_name', 'damage_reason','damage_type_category',
             'distance', 'attacker_location_x', 'attacker_location_y', 'attacker_location_z', 'attacker_name',
             'victim_location_x','victim_location_y', 'victim_location_z', 'victim_name'])

In [11]:
# df_lpk

## LogPlayerAttack

In [12]:
dq = deque()
for tm in tml:
    if tm._T == 'LogPlayerAttack' and tm.common.is_game >= 1.0 :
        try:
            dq.append([
            tm._D, 
            tm._T, 
            tm.attacker.location.x,
            tm.attacker.location.y,
            tm.attacker.location.z,
            tm.attacker.name,
            tm.common.is_game, 
            tm.weapon.item_id])
        except:
            pass

In [13]:
df_lpa = pd.DataFrame(dq, 
    columns=['_D', '_T', 'attacker_location_x', 'attacker_location_y', 'attacker_location_z', 'attacker_name',
             'is_game', 'item_id'])

In [14]:
# df_lpa

## LogPlayerTakeDamage

In [15]:
dq = deque()
for tm in tml:
    if tm._T == 'LogPlayerTakeDamage' and tm.common.is_game >= 1.0:
        try:
            dq.append([
                tm._D, 
                tm._T, 
                tm.attacker.location.x, 
                tm.attacker.location.y, 
                tm.attacker.location.z,
                tm.attacker.name, 
                tm.common.is_game, 
                tm.damage, 
                tm.damage_causer_name, 
                tm.damage_reason, 
                tm.damage_type_category,
                tm.victim.location.x, 
                tm.victim.location.y, 
                tm.victim.location.z,
                tm.victim.name
            ])
        except:
            pass

In [16]:
df_lpd = pd.DataFrame(dq, 
    columns=['_D', '_T', 'attacker_location_x', 'attacker_location_y', 'attacker_location_z', 'attacker_name',
             'is_game', 'damage','damage_causer_name','damage_reason', 'damage_type_category','victim_location_x','victim_location_y', 'victim_location_z', 'victim_name'])

In [17]:
df_result = pd.concat([df_lpa, df_lpd, df_lpk])

In [18]:
df_result['damage_type_category'].unique()

array([nan, 'Damage_Instant_Fall', 'Damage_VehicleCrashHit', 'Damage_Gun',
       'Damage_Groggy', 'Damage_Explosion_Grenade', 'Damage_VehicleHit',
       'Damage_Explosion_Vehicle', 'Damage_Molotov', 'Damage_BlueZone'],
      dtype=object)

In [19]:
df_sorted = df_result.sort_values(['_D'])

In [20]:
df_sorted['index'] = range(0, len(df_sorted))

In [21]:
# df_sorted 는 lpa , lpd, lpk  세가지를 합쳐서 시간순으로 정렬하고, index를 부여.
# 일단 damage take 정보로 교전 index를 추출

In [22]:
c1 = df_sorted['damage'].isna() == False
c2 = df_sorted['_T'] == 'LogPlayerKill'

In [23]:
df_battle = df_sorted[c1 | c2]

# 그로기 보기위해 df_2 한번 맞춤 나중에 이거 삭제

In [24]:
c1 = df_battle['damage'] == 0.0
c2 = df_battle['damage_reason'].str.contains('Shot')

In [25]:
df_groggy=df_battle[c1 & c2]
df_groggy

,_D,_T,attacker_location_x,attacker_location_y,attacker_location_z,attacker_name,is_game,item_id,damage,damage_causer_name,damage_reason,damage_type_category,victim_location_x,victim_location_y,victim_location_z,victim_name,distance,index
74,2020-10-09T12:12:08.309Z,LogPlayerTakeDamage,466514.6250,435356.00000,2124.570068,GRF_Minsung,2.0,NaN,0.0,WeapBerylM762_C,HeadShot,Damage_Gun,464657.37500,433887.62500,2306.579834,EM_KiraV,NaN,1004
75,2020-10-09T12:12:08.581Z,LogPlayerTakeDamage,466514.6250,435356.00000,2124.570068,GRF_Minsung,2.0,NaN,0.0,WeapBerylM762_C,TorsoShot,Damage_Gun,464652.71875,433893.78125,2304.359863,EM_KiraV,NaN,1014
77,2020-10-09T12:12:08.730Z,LogPlayerTakeDamage,466514.6250,435356.00000,2124.570068,GRF_Minsung,2.0,NaN,0.0,WeapBerylM762_C,ArmShot,Damage_Gun,464661.00000,433884.78125,2307.780029,EM_KiraV,NaN,1023
78,2020-10-09T12:12:09.005Z,LogPlayerTakeDamage,466515.8750,435356.90625,2124.419922,GRF_Minsung,2.0,NaN,0.0,WeapBerylM762_C,ArmShot,Damage_Gun,464661.00000,433884.78125,2307.780029,EM_KiraV,NaN,1030
97,2020-10-09T12:12:18.316Z,LogPlayerTakeDamage,696623.0000,346370.65625,391.852173,OPGG_Alphaca,2.0,NaN,0.0,WeapBerylM762_C,TorsoShot,Damage_Gun,696584.87500,346116.34375,236.830002,T1_Starlord,NaN,1161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043,2020-10-09T12:29:05.923Z,LogPlayerTakeDamage,646094.1875,368950.50000,4634.779785,GRF_2heart,7.5,NaN,0.0,WeapFNFal_C,PelvisShot,Damage_Gun,642749.06250,358651.34375,3317.949951,AF_daengchae,NaN,6813
1045,2020-10-09T12:29:06.693Z,LogPlayerTakeDamage,646104.0000,368947.28125,4629.500000,GRF_2heart,7.5,NaN,0.0,WeapFNFal_C,LegShot,Damage_Gun,642703.56250,358697.46875,3337.689941,AF_daengchae,NaN,6817
1058,2020-10-09T12:29:27.958Z,LogPlayerTakeDamage,639771.8750,359921.90625,3419.189941,GRF_Minsung,8.0,NaN,0.0,WeapBerylM762_C,HeadShot,Damage_Gun,642182.62500,359866.87500,3678.739990,AF_EJ,NaN,6876
1059,2020-10-09T12:29:28.078Z,LogPlayerTakeDamage,639947.1250,363227.50000,4493.850098,GRF_Asura,8.0,NaN,0.0,WeapBerylM762_C,TorsoShot,Damage_Gun,642185.75000,359873.18750,3679.280029,AF_EJ,NaN,6879
1060,2020-10-09T12:29:29.019Z,LogPlayerTakeDamage,639841.6875,363151.31250,4443.049805,GRF_Asura,8.0,NaN,0.0,WeapBerylM762_C,HeadShot,Damage_Gun,642239.50000,359923.50000,3679.000000,AF_EJ,NaN,6889

In [26]:
dq = deque()
for tm in tml:
    if tm._T == 'LogItemEquip' and tm.common.is_game >= 1.0:
        try:
            dq.append([
                tm._D, 
                tm._T, 
                tm.character.location.x, 
                tm.character.location.y, 
                tm.character.location.z,
                tm.character.name, 
                tm.common.is_game, 
                tm.item.category,
                tm.item.item_id,
            ])
        except:
            pass

In [27]:
df_lie = pd.DataFrame(dq, 
    columns=['_D', '_T', 'character_location_x', 'character_location_y', 'character_location_z', 'character_name',
             'is_game', 'category', 'item_id'])

In [28]:
c1 = df_lie['item_id'].str.contains('Armor')
c2 = df_lie['item_id'].str.contains('Head')

In [29]:
df_groggy.columns

Index(['_D', '_T', 'attacker_location_x', 'attacker_location_y',
       'attacker_location_z', 'attacker_name', 'is_game', 'item_id', 'damage',
       'damage_causer_name', 'damage_reason', 'damage_type_category',
       'victim_location_x', 'victim_location_y', 'victim_location_z',
       'victim_name', 'distance', 'index'],
      dtype='object')

In [30]:
df_gro_part = df_groggy[['_D', '_T', 'attacker_location_x', 'attacker_location_y',
       'attacker_location_z', 'attacker_name', 'is_game', 'damage',
       'damage_causer_name', 'damage_reason', 'damage_type_category',
       'victim_location_x', 'victim_location_y', 'victim_location_z',
       'victim_name','index']]

In [31]:
df_lie_sorted = df_lie[c1 | c2].sort_values('character_name')
df_lie_sorted.columns

Index(['_D', '_T', 'character_location_x', 'character_location_y',
       'character_location_z', 'character_name', 'is_game', 'category',
       'item_id'],
      dtype='object')

In [32]:
df_lie_sorted.columns = ['_D', '_T', 'victim_location_x', 'victim_location_y',
       'victim_location_z', 'victim_name', 'is_game', 'category',
       'item_id']

In [33]:
df_gro_part2 = pd.concat([df_gro_part,df_lie_sorted])

In [34]:
df_gro_part2.sort_values('_D')

,_D,_T,attacker_location_x,attacker_location_y,attacker_location_z,attacker_name,is_game,damage,damage_causer_name,damage_reason,damage_type_category,victim_location_x,victim_location_y,victim_location_z,victim_name,index,category,item_id
0,2020-10-09T12:03:53.527Z,LogItemEquip,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,599973.87500,480018.43750,394.979980,QDR_Dlaks,NaN,Equipment,Item_Armor_E_01_Lv1_C
1,2020-10-09T12:03:53.781Z,LogItemEquip,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,657241.00000,354063.21875,2695.819824,SP_Corn,NaN,Equipment,Item_Armor_D_01_Lv2_C
9,2020-10-09T12:03:55.354Z,LogItemEquip,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,600170.12500,603678.62500,138.330002,emT_Gyuyeon,NaN,Equipment,Item_Head_F_01_Lv2_C
12,2020-10-09T12:03:55.839Z,LogItemEquip,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,304308.37500,542298.43750,279.779999,LVG_ZeniTh,NaN,Equipment,Item_Armor_E_01_Lv1_C
13,2020-10-09T12:03:56.012Z,LogItemEquip,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,366600.34375,408196.71875,3838.329834,ENT_kAyle,NaN,Equipment,Item_Head_F_01_Lv2_C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043,2020-10-09T12:29:05.923Z,LogPlayerTakeDamage,646094.1875,368950.50000,4634.779785,GRF_2heart,7.5,0.0,WeapFNFal_C,PelvisShot,Damage_Gun,642749.06250,358651.34375,3317.949951,AF_daengchae,6813.0,NaN,NaN
1045,2020-10-09T12:29:06.693Z,LogPlayerTakeDamage,646104.0000,368947.28125,4629.500000,GRF_2heart,7.5,0.0,WeapFNFal_C,LegShot,Damage_Gun,642703.56250,358697.46875,3337.689941,AF_daengchae,6817.0,NaN,NaN
1058,2020-10-09T12:29:27.958Z,LogPlayerTakeDamage,639771.8750,359921.90625,3419.189941,GRF_Minsung,8.0,0.0,WeapBerylM762_C,HeadShot,Damage_Gun,642182.62500,359866.87500,3678.739990,AF_EJ,6876.0,NaN,NaN
1059,2020-10-09T12:29:28.078Z,LogPlayerTakeDamage,639947.1250,363227.50000,4493.850098,GRF_Asura,8.0,0.0,WeapBerylM762_C,TorsoShot,Damage_Gun,642185.75000,359873.18750,3679.280029,AF_EJ,6879.0,NaN,NaN
1060,2020-10-09T12:29:29.019Z,LogPlayerTakeDamage,639841.6875,363151.31250,4443.049805,GRF_Asura,8.0,0.0,WeapBerylM762_C,HeadShot,Damage_Gun,642239.50000,359923.50000,3679.000000,AF_EJ,6889.0,NaN,NaN

In [35]:
df_lpd_sum = df_lpd.groupby('damage_causer_name')[['damage']].sum()

In [36]:
df_lpd_cnt = df_lpd.groupby('damage_causer_name')[['damage']].count()

In [37]:
df_lpd_part = df_lpd_sum.copy()

In [38]:
df_lpd_part['count'] = df_lpd_cnt

In [39]:
df_lpd_part

                                damage  count
damage_causer_name
BP_FireEffectController_C     0.000000     23
BP_MolotovFireDebuff_C        0.000000     11
BP_Motorbike_04_C            69.714304      2
Dacia_A_01_v2_C               7.994242      1
Dacia_A_02_v2_C              20.181973      3
Dacia_A_03_v2_Esports_C       2.010117      2
PlayerFemale_A_C             30.064814    460
PlayerMale_A_C               99.800797    104
ProjGrenade_C               912.599207     30
ProjMolotov_C                 0.000000      1
Uaz_B_01_esports_C            0.662213      1
WeapAK47_C                   74.546370      5
WeapBerylM762_C            2706.910316    163
WeapFNFal_C                4628.177632    161
WeapHK416_C                 402.802240     19
WeapKar98k_C                100.000000      1
WeapMini14_C                639.796347     49
WeapMk14_C                   79.074369      3
WeapSKS_C                  1664.066221     68

In [40]:
list(df_lpd['damage_causer_name'].unique())

['PlayerFemale_A_C',
 'PlayerMale_A_C',
 'Dacia_A_02_v2_C',
 'WeapSKS_C',
 'WeapFNFal_C',
 'Dacia_A_03_v2_Esports_C',
 'WeapAK47_C',
 'WeapBerylM762_C',
 'ProjGrenade_C',
 'WeapHK416_C',
 'WeapMini14_C',
 'Uaz_B_01_esports_C',
 'Dacia_A_01_v2_C',
 'BP_Motorbike_04_C',
 'WeapKar98k_C',
 'ProjMolotov_C',
 'BP_FireEffectController_C',
 'BP_MolotovFireDebuff_C',
 'WeapMk14_C']

In [41]:
dcm_list = ['WeapBerylM762_C',
 'WeapFNFal_C',
 'WeapSKS_C',
 'WeapMini14_C',
 'WeapHK416_C',
 'WeapAK47_C',
 'WeapSCAR-L_C']

In [42]:
for dcm in dcm_list:
    print(dcm)
    print(df_lpd[df_lpd['damage_causer_name'] == dcm]['damage'].describe())
    print()

WeapBerylM762_C
count    163.000000
mean      16.606812
std       14.733813
min        0.000000
25%        0.000000
50%       20.279791
75%       24.840000
max       64.860001
Name: damage, dtype: float64

WeapFNFal_C
count    161.000000
mean      28.746445
std       19.404630
min        0.000000
25%       23.014845
50%       29.916557
75%       35.899067
max       81.756775
Name: damage, dtype: float64

WeapSKS_C
count    68.000000
mean     24.471562
std      18.684754
min       0.000000
25%      13.628165
50%      24.961158
75%      31.299267
max      74.729996
Name: damage, dtype: float64

WeapMini14_C
count    49.000000
mean     13.057068
std      15.294902
min       0.000000
25%       0.000000
50%      10.946999
75%      21.467346
max      61.074322
Name: damage, dtype: float64

WeapHK416_C
count    19.000000
mean     21.200118
std      16.182803
min       0.000000
25%      13.800001
50%      21.600000
75%      23.400000
max      56.399998
Name: damage, dtype: float64

WeapAK47_C
count     5.000000
mean     14.909274
std      22.226808
min       0.000000
25%       0.000000
50%       0.000000
75%      24.843874
max      49.702496
Name: damage, dtype: float64

WeapSCAR-L_C
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: damage, dtype: float64

In [43]:
df_lpd.describe()

,attacker_location_x,attacker_location_y,attacker_location_z,is_game,damage,victim_location_x,victim_location_y,victim_location_z
count,1107.000000,1107.000000,1107.000000,1107.000000,1107.000000,1107.000000,1107.000000,1107.000000
mean,622060.023628,359755.158904,2692.849836,5.018067,10.332792,621105.320884,359808.031899,2498.017633
std,57623.852974,37005.433534,2235.494947,1.812813,17.096033,57458.468986,35874.026946,2211.196247
min,241257.812500,168977.609375,-56.590000,1.000000,0.000000,241257.812500,164792.781250,-89.430000
25%,614519.062500,344567.343750,588.589966,3.500000,0.000000,616378.468750,344383.765625,542.019958
50%,631023.312500,358469.062500,2374.089844,5.500000,0.000000,630764.812500,358469.062500,2073.449951
75%,644910.437500,374066.734375,3929.959961,6.500000,21.209415,640420.093750,372245.406250,3599.905029
max,711919.187500,628460.312500,13720.554688,8.500000,100.000000,710146.687500,628460.312500,13720.554688

In [44]:
# 교전완성은 이번주.

# 그로기값보정도 이번주

# 오늘,목요일을 그렇게 진행하고

# 금요일은 최종프로젝트 준비.

# 교전에 대한 정의도 추가하는게 바람직함.

In [45]:
# c1 = df_lie['item_id'].str.contains('Armor')
# c2 = df_lie['item_id'].str.contains('Head')

In [46]:
df_battle

,_D,_T,attacker_location_x,attacker_location_y,attacker_location_z,attacker_name,is_game,item_id,damage,damage_causer_name,damage_reason,damage_type_category,victim_location_x,victim_location_y,victim_location_z,victim_name,distance,index
0,2020-10-09T12:04:40.800Z,LogPlayerTakeDamage,623509.37500,303926.750000,348.709991,SP_NEFiEX,1.0,NaN,1.003075,PlayerFemale_A_C,NonSpecific,Damage_Instant_Fall,623509.37500,303926.750000,348.709991,SP_NEFiEX,NaN,36
1,2020-10-09T12:05:27.877Z,LogPlayerTakeDamage,356316.31250,240409.390625,5030.000000,VSG_WICK2D,1.0,NaN,1.603624,PlayerFemale_A_C,NonSpecific,Damage_Instant_Fall,356316.31250,240409.390625,5030.000000,VSG_WICK2D,NaN,45
2,2020-10-09T12:05:40.465Z,LogPlayerTakeDamage,549558.00000,594367.062500,1517.500000,emT_Hwarang,1.0,NaN,2.523901,PlayerFemale_A_C,NonSpecific,Damage_Instant_Fall,549558.00000,594367.062500,1517.500000,emT_Hwarang,NaN,53
3,2020-10-09T12:05:43.113Z,LogPlayerTakeDamage,623253.31250,304279.781250,344.059998,SP_NEFiEX,1.0,NaN,11.213831,PlayerFemale_A_C,NonSpecific,Damage_Instant_Fall,623253.31250,304279.781250,344.059998,SP_NEFiEX,NaN,54
4,2020-10-09T12:06:16.563Z,LogPlayerTakeDamage,442108.90625,337311.156250,1490.909912,KP_helloweend,1.0,NaN,1.134949,PlayerFemale_A_C,NonSpecific,Damage_Instant_Fall,442108.90625,337311.156250,1490.909912,KP_helloweend,NaN,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2020-10-09T12:30:44.992Z,LogPlayerKill,644404.81250,367757.468750,5082.639648,GRF_Minsung,8.5,NaN,NaN,PlayerFemale_A_C,None,Damage_Groggy,644841.81250,356533.312500,2498.599854,AF_Hansia,11526.053711,7075
1104,2020-10-09T12:30:50.628Z,LogPlayerTakeDamage,654769.12500,357615.625000,2947.419922,GRF_Minsung,8.5,NaN,22.770000,WeapBerylM762_C,TorsoShot,Damage_Gun,655169.56250,357742.406250,3024.609863,AF_R0wha,NaN,7094
1105,2020-10-09T12:30:50.711Z,LogPlayerTakeDamage,654776.87500,357593.156250,2967.750000,GRF_Minsung,8.5,NaN,20.699999,WeapBerylM762_C,TorsoShot,Damage_Gun,655181.50000,357731.343750,3024.609863,AF_R0wha,NaN,7097
1106,2020-10-09T12:30:51.228Z,LogPlayerTakeDamage,654832.87500,357464.218750,3048.829834,GRF_Minsung,8.5,NaN,2.758272,WeapBerylM762_C,TorsoShot,Damage_Gun,655123.87500,357734.125000,3024.609863,AF_R0wha,NaN,7105
58,2020-10-09T12:30:51.229Z,LogPlayerKill,654832.87500,357464.218750,3048.829834,GRF_Minsung,8.5,NaN,NaN,WeapBerylM762_C,TorsoShot,Damage_Gun,655123.87500,357734.125000,3024.609863,AF_R0wha,397.639252,7106

In [47]:
df_dmg = df_gro_part2[['_D', '_T','damage', 'damage_causer_name','damage_reason','victim_name', 'category', 'item_id','index']]
df_dmg.sort_values('_D', inplace=True)
df_dmg

<ipython-input-47-b38150f6c5eb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dmg.sort_values('_D', inplace=True)

,_D,_T,damage,damage_causer_name,damage_reason,victim_name,category,item_id,index
0,2020-10-09T12:03:53.527Z,LogItemEquip,NaN,NaN,NaN,QDR_Dlaks,Equipment,Item_Armor_E_01_Lv1_C,NaN
1,2020-10-09T12:03:53.781Z,LogItemEquip,NaN,NaN,NaN,SP_Corn,Equipment,Item_Armor_D_01_Lv2_C,NaN
9,2020-10-09T12:03:55.354Z,LogItemEquip,NaN,NaN,NaN,emT_Gyuyeon,Equipment,Item_Head_F_01_Lv2_C,NaN
12,2020-10-09T12:03:55.839Z,LogItemEquip,NaN,NaN,NaN,LVG_ZeniTh,Equipment,Item_Armor_E_01_Lv1_C,NaN
13,2020-10-09T12:03:56.012Z,LogItemEquip,NaN,NaN,NaN,ENT_kAyle,Equipment,Item_Head_F_01_Lv2_C,NaN
...,...,...,...,...,...,...,...,...,...
1043,2020-10-09T12:29:05.923Z,LogPlayerTakeDamage,0.0,WeapFNFal_C,PelvisShot,AF_daengchae,NaN,NaN,6813.0
1045,2020-10-09T12:29:06.693Z,LogPlayerTakeDamage,0.0,WeapFNFal_C,LegShot,AF_daengchae,NaN,NaN,6817.0
1058,2020-10-09T12:29:27.958Z,LogPlayerTakeDamage,0.0,WeapBerylM762_C,HeadShot,AF_EJ,NaN,NaN,6876.0
1059,2020-10-09T12:29:28.078Z,LogPlayerTakeDamage,0.0,WeapBerylM762_C,TorsoShot,AF_EJ,NaN,NaN,6879.0
1060,2020-10-09T12:29:29.019Z,LogPlayerTakeDamage,0.0,WeapBerylM762_C,HeadShot,AF_EJ,NaN,NaN,6889.0

In [48]:
c1 = df_dmg['item_id'].str.contains('Armor')
c2 = df_dmg['item_id'].str.contains('Head')

In [49]:
df_dmg['index']= range(0,len(df_dmg))

<ipython-input-49-6259500ba5c1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dmg['index']= range(0,len(df_dmg))

In [50]:
df_temp = pd.DataFrame(columns=list(df_dmg.columns))
for victim in list(df_dmg['victim_name'].unique()):
    c3 = df_dmg['victim_name']==victim
    try:
        df_dmg[c1 &c3].tail(1)['index']
    except:
        pass
    else:
        df_temp = df_temp.append(df_dmg[c1 &c3].tail(1))
        
    try:
        df_dmg[c2 &c3].tail(1)['index']
    except:
        pass
    else:
        df_temp = df_temp.append(df_dmg[c2 &c3].tail(1))

In [51]:
df_temp2 = df_temp.sort_values('_D')
df_temp3 = df_temp2[['victim_name', 'item_id']].sort_values('victim_name')
df_temp3['item_lvl'] = df_temp3['item_id'].str[-3]
df_temp3['item_type'] = df_temp3['item_id'].str.split('_').str[1]
df_temp4 = df_temp3[['victim_name', 'item_lvl', 'item_type']]
df_temp4

       victim_name item_lvl item_type
80           AF_EJ        2     Armor
1011     AF_Hansia        2      Head
376       AF_R0wha        3     Armor
64        AF_R0wha        2      Head
25    AF_daengchae        2      Head
...            ...      ...       ...
342    emT_Hwarang        2     Armor
313       emT_Piky        2     Armor
834       emT_Piky        2      Head
157    emT_YunJong        2      Head
249    emT_YunJong        2     Armor

[125 rows x 3 columns]

### Groggy  상태의 Damage 보정작업.

In [52]:
df_partial = df_battle[df_battle['damage_type_category'] == 'Damage_Gun'][['_D', '_T', 'damage','damage_causer_name','damage_reason','victim_name','index']]
df_partial

,_D,_T,damage,damage_causer_name,damage_reason,victim_name,index
11,2020-10-09T12:08:47.587Z,LogPlayerTakeDamage,21.365675,WeapSKS_C,LegShot,VLG_Hikari,200
13,2020-10-09T12:09:08.042Z,LogPlayerTakeDamage,28.188704,WeapFNFal_C,LegShot,OPGG_Dumbo,217
14,2020-10-09T12:09:08.422Z,LogPlayerTakeDamage,34.269890,WeapFNFal_C,TorsoShot,OPGG_Dumbo,219
16,2020-10-09T12:09:29.613Z,LogPlayerTakeDamage,49.702496,WeapAK47_C,HeadShot,VSG_Foxy,266
17,2020-10-09T12:09:36.113Z,LogPlayerTakeDamage,21.049238,WeapSKS_C,PelvisShot,QDR_Renba,290
...,...,...,...,...,...,...,...
1099,2020-10-09T12:30:41.827Z,LogPlayerTakeDamage,32.771729,WeapFNFal_C,ArmShot,AF_R0wha,7061
1104,2020-10-09T12:30:50.628Z,LogPlayerTakeDamage,22.770000,WeapBerylM762_C,TorsoShot,AF_R0wha,7094
1105,2020-10-09T12:30:50.711Z,LogPlayerTakeDamage,20.699999,WeapBerylM762_C,TorsoShot,AF_R0wha,7097
1106,2020-10-09T12:30:51.228Z,LogPlayerTakeDamage,2.758272,WeapBerylM762_C,TorsoShot,AF_R0wha,7105
58,2020-10-09T12:30:51.229Z,LogPlayerKill,NaN,WeapBerylM762_C,TorsoShot,AF_R0wha,7106

In [53]:
df_partial.columns

Index(['_D', '_T', 'damage', 'damage_causer_name', 'damage_reason',
       'victim_name', 'index'],
      dtype='object')

In [54]:
df_partial = pd.merge(df_partial, df_temp4[df_temp4['item_type'] == 'Head'][['victim_name','item_lvl']], how='outer', on='victim_name')
df_partial.columns = ['_D', '_T', 'damage', 'damage_causer_name', 'damage_reason',
       'victim_name', 'index', 'head']
df_partial

,_D,_T,damage,damage_causer_name,damage_reason,victim_name,index,head
0,2020-10-09T12:08:47.587Z,LogPlayerTakeDamage,21.365675,WeapSKS_C,LegShot,VLG_Hikari,200,2
1,2020-10-09T12:17:07.165Z,LogPlayerTakeDamage,36.540001,WeapFNFal_C,TorsoShot,VLG_Hikari,2938,2
2,2020-10-09T12:17:07.525Z,LogPlayerTakeDamage,36.540001,WeapFNFal_C,TorsoShot,VLG_Hikari,2949,2
3,2020-10-09T12:17:07.783Z,LogPlayerTakeDamage,26.919998,WeapFNFal_C,TorsoShot,VLG_Hikari,2954,2
4,2020-10-09T12:17:09.192Z,LogPlayerTakeDamage,0.000000,WeapFNFal_C,PelvisShot,VLG_Hikari,2971,2
...,...,...,...,...,...,...,...,...
500,2020-10-09T12:30:41.827Z,LogPlayerTakeDamage,32.771729,WeapFNFal_C,ArmShot,AF_R0wha,7061,2
501,2020-10-09T12:30:50.628Z,LogPlayerTakeDamage,22.770000,WeapBerylM762_C,TorsoShot,AF_R0wha,7094,2
502,2020-10-09T12:30:50.711Z,LogPlayerTakeDamage,20.699999,WeapBerylM762_C,TorsoShot,AF_R0wha,7097,2
503,2020-10-09T12:30:51.228Z,LogPlayerTakeDamage,2.758272,WeapBerylM762_C,TorsoShot,AF_R0wha,7105,2
504,2020-10-09T12:30:51.229Z,LogPlayerKill,NaN,WeapBerylM762_C,TorsoShot,AF_R0wha,7106,2

In [55]:
df_partial = pd.merge(df_partial, df_temp4[df_temp4['item_type'] == 'Armor'][['victim_name','item_lvl']], how='outer', on='victim_name')
df_partial.columns = ['_D', '_T', 'damage', 'damage_causer_name', 'damage_reason',
       'victim_name','index', 'head', 'armor']
df_partial

,_D,_T,damage,damage_causer_name,damage_reason,victim_name,index,head,armor
0,2020-10-09T12:08:47.587Z,LogPlayerTakeDamage,21.365675,WeapSKS_C,LegShot,VLG_Hikari,200,2,2
1,2020-10-09T12:17:07.165Z,LogPlayerTakeDamage,36.540001,WeapFNFal_C,TorsoShot,VLG_Hikari,2938,2,2
2,2020-10-09T12:17:07.525Z,LogPlayerTakeDamage,36.540001,WeapFNFal_C,TorsoShot,VLG_Hikari,2949,2,2
3,2020-10-09T12:17:07.783Z,LogPlayerTakeDamage,26.919998,WeapFNFal_C,TorsoShot,VLG_Hikari,2954,2,2
4,2020-10-09T12:17:09.192Z,LogPlayerTakeDamage,0.000000,WeapFNFal_C,PelvisShot,VLG_Hikari,2971,2,2
...,...,...,...,...,...,...,...,...,...
500,2020-10-09T12:30:41.827Z,LogPlayerTakeDamage,32.771729,WeapFNFal_C,ArmShot,AF_R0wha,7061,2,3
501,2020-10-09T12:30:50.628Z,LogPlayerTakeDamage,22.770000,WeapBerylM762_C,TorsoShot,AF_R0wha,7094,2,3
502,2020-10-09T12:30:50.711Z,LogPlayerTakeDamage,20.699999,WeapBerylM762_C,TorsoShot,AF_R0wha,7097,2,3
503,2020-10-09T12:30:51.228Z,LogPlayerTakeDamage,2.758272,WeapBerylM762_C,TorsoShot,AF_R0wha,7105,2,3
504,2020-10-09T12:30:51.229Z,LogPlayerKill,NaN,WeapBerylM762_C,TorsoShot,AF_R0wha,7106,2,3

In [56]:
df_partial.dropna(inplace=True)

In [57]:
df_weight = pd.DataFrame({'damage_reason':['ArmShot', 'HeadShot', 'LegShot', 'PelvisShot', 'TorsoShot'],
                    'damage_reason_weight':[140/3, 100, 140/3, 95, 310/3]
                    })

In [58]:
df_weight

  damage_reason  damage_reason_weight
0       ArmShot             46.666667
1      HeadShot            100.000000
2       LegShot             46.666667
3    PelvisShot             95.000000
4     TorsoShot            103.333333

In [59]:
df_weapon = pd.DataFrame({'damage_causer_name':['WeapSCAR-L_C', 'WeapAK47_C', 'WeapM16A4_C', 'WeapFNFal_C', 'WeapBerylM762_C', 'WeapHK416_C', 'WeapSKS_C', 'WeapMini14_C'],
                          'damage_causer_mean_dmg':[43.76,48.95,44.79,60.15,45.84,41.69,56.91,50.44,]})

In [60]:
df_weapon

  damage_causer_name  damage_causer_mean_dmg
0       WeapSCAR-L_C                   43.76
1         WeapAK47_C                   48.95
2        WeapM16A4_C                   44.79
3        WeapFNFal_C                   60.15
4    WeapBerylM762_C                   45.84
5        WeapHK416_C                   41.69
6          WeapSKS_C                   56.91
7       WeapMini14_C                   50.44

In [61]:
df_partial

,_D,_T,damage,damage_causer_name,damage_reason,victim_name,index,head,armor
0,2020-10-09T12:08:47.587Z,LogPlayerTakeDamage,21.365675,WeapSKS_C,LegShot,VLG_Hikari,200,2,2
1,2020-10-09T12:17:07.165Z,LogPlayerTakeDamage,36.540001,WeapFNFal_C,TorsoShot,VLG_Hikari,2938,2,2
2,2020-10-09T12:17:07.525Z,LogPlayerTakeDamage,36.540001,WeapFNFal_C,TorsoShot,VLG_Hikari,2949,2,2
3,2020-10-09T12:17:07.783Z,LogPlayerTakeDamage,26.919998,WeapFNFal_C,TorsoShot,VLG_Hikari,2954,2,2
4,2020-10-09T12:17:09.192Z,LogPlayerTakeDamage,0.000000,WeapFNFal_C,PelvisShot,VLG_Hikari,2971,2,2
...,...,...,...,...,...,...,...,...,...
499,2020-10-09T12:30:22.388Z,LogPlayerTakeDamage,29.594021,WeapFNFal_C,TorsoShot,AF_R0wha,7010,2,3
500,2020-10-09T12:30:41.827Z,LogPlayerTakeDamage,32.771729,WeapFNFal_C,ArmShot,AF_R0wha,7061,2,3
501,2020-10-09T12:30:50.628Z,LogPlayerTakeDamage,22.770000,WeapBerylM762_C,TorsoShot,AF_R0wha,7094,2,3
502,2020-10-09T12:30:50.711Z,LogPlayerTakeDamage,20.699999,WeapBerylM762_C,TorsoShot,AF_R0wha,7097,2,3
503,2020-10-09T12:30:51.228Z,LogPlayerTakeDamage,2.758272,WeapBerylM762_C,TorsoShot,AF_R0wha,7105,2,3

In [62]:
df_partial_2 = pd.merge(df_partial,df_weight)
df_partial_2

,_D,_T,damage,damage_causer_name,damage_reason,victim_name,index,head,armor,damage_reason_weight
0,2020-10-09T12:08:47.587Z,LogPlayerTakeDamage,21.365675,WeapSKS_C,LegShot,VLG_Hikari,200,2,2,46.666667
1,2020-10-09T12:09:08.042Z,LogPlayerTakeDamage,28.188704,WeapFNFal_C,LegShot,OPGG_Dumbo,217,2,2,46.666667
2,2020-10-09T12:17:45.000Z,LogPlayerTakeDamage,0.000000,WeapMini14_C,LegShot,OPGG_Dumbo,3089,2,2,46.666667
3,2020-10-09T12:19:37.058Z,LogPlayerTakeDamage,0.000000,WeapBerylM762_C,LegShot,LVG_Sparrow,3948,2,2,46.666667
4,2020-10-09T12:23:38.171Z,LogPlayerTakeDamage,25.071384,WeapMini14_C,LegShot,ENT_kAyle,5231,2,2,46.666667
...,...,...,...,...,...,...,...,...,...,...
440,2020-10-09T12:22:36.160Z,LogPlayerTakeDamage,24.840000,WeapBerylM762_C,ArmShot,QDR_yacha,4848,2,3,46.666667
441,2020-10-09T12:25:33.115Z,LogPlayerTakeDamage,31.593008,WeapFNFal_C,ArmShot,SP_NEFiEX,5512,2,2,46.666667
442,2020-10-09T12:29:02.975Z,LogPlayerTakeDamage,33.047974,WeapFNFal_C,ArmShot,AF_daengchae,6793,2,3,46.666667
443,2020-10-09T12:30:07.304Z,LogPlayerTakeDamage,32.475281,WeapFNFal_C,ArmShot,AF_R0wha,6969,2,3,46.666667
444,2020-10-09T12:30:41.827Z,LogPlayerTakeDamage,32.771729,WeapFNFal_C,ArmShot,AF_R0wha,7061,2,3,46.666667

In [63]:
df_partial_3 = pd.merge(df_partial_2,df_weapon)
df_partial_3

,_D,_T,damage,damage_causer_name,damage_reason,victim_name,index,head,armor,damage_reason_weight,damage_causer_mean_dmg
0,2020-10-09T12:08:47.587Z,LogPlayerTakeDamage,21.365675,WeapSKS_C,LegShot,VLG_Hikari,200,2,2,46.666667,56.91
1,2020-10-09T12:26:28.278Z,LogPlayerTakeDamage,22.574739,WeapSKS_C,LegShot,DNW_Draft,6052,2,3,46.666667,56.91
2,2020-10-09T12:26:35.002Z,LogPlayerTakeDamage,22.624882,WeapSKS_C,LegShot,DNW_Draft,6140,2,3,46.666667,56.91
3,2020-10-09T12:25:38.107Z,LogPlayerTakeDamage,25.137154,WeapSKS_C,LegShot,OPGG_Ayoh,5568,2,2,46.666667,56.91
4,2020-10-09T12:29:02.862Z,LogPlayerTakeDamage,30.209999,WeapSKS_C,LegShot,KP_taemin,6791,2,3,46.666667,56.91
...,...,...,...,...,...,...,...,...,...,...,...
436,2020-10-09T12:21:56.229Z,LogPlayerTakeDamage,0.000000,WeapAK47_C,TorsoShot,VLG_Spear,4463,2,2,103.333333,48.95
437,2020-10-09T12:21:56.292Z,LogPlayerTakeDamage,0.000000,WeapAK47_C,TorsoShot,VLG_Spear,4465,2,2,103.333333,48.95
438,2020-10-09T12:09:29.613Z,LogPlayerTakeDamage,49.702496,WeapAK47_C,HeadShot,VSG_Foxy,266,2,2,100.000000,48.95
439,2020-10-09T12:21:56.123Z,LogPlayerTakeDamage,0.000000,WeapAK47_C,ArmShot,VLG_Spear,4462,2,2,46.666667,48.95
440,2020-10-09T12:21:59.254Z,LogPlayerTakeDamage,24.843874,WeapAK47_C,ArmShot,VLG_Lambu,4556,3,3,46.666667,48.95

## train, test 분리

In [64]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler

In [65]:
df_partial_4 = df_partial_3[['damage', 'head', 'armor', 'damage_reason_weight','damage_causer_mean_dmg' ]]
df_partial_4

        damage head armor  damage_reason_weight  damage_causer_mean_dmg
0    21.365675    2     2             46.666667                   56.91
1    22.574739    2     3             46.666667                   56.91
2    22.624882    2     3             46.666667                   56.91
3    25.137154    2     2             46.666667                   56.91
4    30.209999    2     3             46.666667                   56.91
..         ...  ...   ...                   ...                     ...
436   0.000000    2     2            103.333333                   48.95
437   0.000000    2     2            103.333333                   48.95
438  49.702496    2     2            100.000000                   48.95
439   0.000000    2     2             46.666667                   48.95
440  24.843874    3     3             46.666667                   48.95

[441 rows x 5 columns]

In [66]:
df_partial_groggy = df_partial_4[df_partial_4['damage'] == 0]
df_partial_groggy

     damage head armor  damage_reason_weight  damage_causer_mean_dmg
9       0.0    2     3            103.333333                   56.91
10      0.0    2     3            103.333333                   56.91
11      0.0    2     3            103.333333                   56.91
14      0.0    2     2            103.333333                   56.91
19      0.0    2     2            103.333333                   56.91
..      ...  ...   ...                   ...                     ...
423     0.0    2     2            103.333333                   41.69
434     0.0    2     2             46.666667                   41.69
436     0.0    2     2            103.333333                   48.95
437     0.0    2     2            103.333333                   48.95
439     0.0    2     2             46.666667                   48.95

[119 rows x 5 columns]

In [67]:
df_partial_5 = df_partial_4[df_partial_4['damage'] != 0]
df_partial_5

        damage head armor  damage_reason_weight  damage_causer_mean_dmg
0    21.365675    2     2             46.666667                   56.91
1    22.574739    2     3             46.666667                   56.91
2    22.624882    2     3             46.666667                   56.91
3    25.137154    2     2             46.666667                   56.91
4    30.209999    2     3             46.666667                   56.91
..         ...  ...   ...                   ...                     ...
432  42.299999    2     2            100.000000                   41.69
433  56.399998    2     3            100.000000                   41.69
435  18.000000    2     1             46.666667                   41.69
438  49.702496    2     2            100.000000                   48.95
440  24.843874    3     3             46.666667                   48.95

[322 rows x 5 columns]

In [68]:
robustScaler = RobustScaler()
robustScaler.fit(df_partial_5)
df_partial_scaled = robustScaler.transform(df_partial_5)
df_partial_scaled

array([[-0.48861833,  0.        ,  0.        , -0.94117647,  0.        ],
       [-0.3907976 ,  0.        ,  1.        , -0.94117647,  0.        ],
       [-0.38674078,  0.        ,  1.        , -0.94117647,  0.        ],
       ...,
       [-0.76092208,  0.        , -1.        , -0.94117647, -1.06359189],
       [ 1.80400423,  0.        ,  0.        ,  0.        , -0.55625437],
       [-0.2072107 ,  1.        ,  1.        , -0.94117647, -0.55625437]])

In [69]:
df_eval = pd.DataFrame(data =df_partial_scaled, columns=['damage','head','armor','damage_reason_weight','damage_causer_mean_dmg'] )
df_eval

       damage  head  armor  damage_reason_weight  damage_causer_mean_dmg
0   -0.488618   0.0    0.0             -0.941176                0.000000
1   -0.390798   0.0    1.0             -0.941176                0.000000
2   -0.386741   0.0    1.0             -0.941176                0.000000
3   -0.183483   0.0    0.0             -0.941176                0.000000
4    0.226942   0.0    1.0             -0.941176                0.000000
..        ...   ...    ...                   ...                     ...
317  1.205097   0.0    0.0              0.000000               -1.063592
318  2.345873   0.0    1.0              0.000000               -1.063592
319 -0.760922   0.0   -1.0             -0.941176               -1.063592
320  1.804004   0.0    0.0              0.000000               -0.556254
321 -0.207211   1.0    1.0             -0.941176               -0.556254

[322 rows x 5 columns]

In [70]:
df_x = df_eval.drop('damage', axis=1)
df_y = df_eval['damage']

In [71]:
X_train, X_test, y_train, y_test = train_test_split( df_x, df_y, test_size=0.2, random_state=42)

In [83]:
from pycaret.regression import *

In [102]:
df_partial

,_D,_T,damage,damage_causer_name,damage_reason,victim_name,index,head,armor
0,2020-10-09T12:08:47.587Z,LogPlayerTakeDamage,21.365675,WeapSKS_C,LegShot,VLG_Hikari,200,2,2
1,2020-10-09T12:17:07.165Z,LogPlayerTakeDamage,36.540001,WeapFNFal_C,TorsoShot,VLG_Hikari,2938,2,2
2,2020-10-09T12:17:07.525Z,LogPlayerTakeDamage,36.540001,WeapFNFal_C,TorsoShot,VLG_Hikari,2949,2,2
3,2020-10-09T12:17:07.783Z,LogPlayerTakeDamage,26.919998,WeapFNFal_C,TorsoShot,VLG_Hikari,2954,2,2
4,2020-10-09T12:17:09.192Z,LogPlayerTakeDamage,0.000000,WeapFNFal_C,PelvisShot,VLG_Hikari,2971,2,2
...,...,...,...,...,...,...,...,...,...
499,2020-10-09T12:30:22.388Z,LogPlayerTakeDamage,29.594021,WeapFNFal_C,TorsoShot,AF_R0wha,7010,2,3
500,2020-10-09T12:30:41.827Z,LogPlayerTakeDamage,32.771729,WeapFNFal_C,ArmShot,AF_R0wha,7061,2,3
501,2020-10-09T12:30:50.628Z,LogPlayerTakeDamage,22.770000,WeapBerylM762_C,TorsoShot,AF_R0wha,7094,2,3
502,2020-10-09T12:30:50.711Z,LogPlayerTakeDamage,20.699999,WeapBerylM762_C,TorsoShot,AF_R0wha,7097,2,3
503,2020-10-09T12:30:51.228Z,LogPlayerTakeDamage,2.758272,WeapBerylM762_C,TorsoShot,AF_R0wha,7105,2,3

In [103]:
df_setup = df_partial.drop(['_D','victim_name', 'index'], axis=1)

In [104]:
df_setup_train = df_setup[df_setup['damage'] != 0]

In [105]:
df_setup_test = df_setup[df_setup['damage'] == 0]

In [106]:
exp_reg = setup(df_setup_train, target = 'damage')

Setup Succesfully Completed.

INFO:logs:create_model_container: 0
INFO:logs:master_model_container: 0
INFO:logs:display_container: 0
INFO:logs:setup() succesfully completed......................................

In [107]:
best_model = compare_models(fold=10)

INFO:logs:create_model_container: 1
INFO:logs:master_model_container: 1
INFO:logs:display_container: 2
INFO:logs:Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=7428, solver='auto', tol=0.001)
INFO:logs:compare_models() succesfully completed......................................

In [108]:
lightgbm = create_model('lightgbm')

INFO:logs:create_model_container: 2
INFO:logs:master_model_container: 2
INFO:logs:display_container: 3
INFO:logs:LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=7428, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
INFO:logs:create_model() succesfully completed......................................

In [109]:
import numpy as np
lgbms = [create_model('lightgbm', learning_rate=i) for i in np.arange(0.1,1,0.1)]

INFO:logs:create_model_container: 11
INFO:logs:master_model_container: 11
INFO:logs:display_container: 12
INFO:logs:LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.9, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=7428, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
INFO:logs:create_model() succesfully completed......................................

In [110]:
tuned_lightgbm = tune_model(lightgbm, n_iter=50, optimize = 'MAE')

INFO:logs:create_model_container: 12
INFO:logs:master_model_container: 12
INFO:logs:display_container: 13
INFO:logs:LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=10,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.6,
              n_estimators=10, n_jobs=-1, num_leaves=70, objective=None,
              random_state=7428, reg_alpha=0.7, reg_lambda=0.5, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
INFO:logs:tune_model() succesfully completed......................................

In [111]:
tuned_lightgbm

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=10,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.6,
              n_estimators=10, n_jobs=-1, num_leaves=70, objective=None,
              random_state=7428, reg_alpha=0.7, reg_lambda=0.5, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [112]:
pred_holdouts = predict_model(lightgbm)
pred_holdouts.head()

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE
0,Light Gradient Boosting Machine,6.1162,100.938,10.0468,0.6355,0.4952,0.6421

,_T_LogPlayerTakeDamage,damage_causer_name_WeapAK47_C,damage_causer_name_WeapBerylM762_C,damage_causer_name_WeapFNFal_C,damage_causer_name_WeapHK416_C,damage_causer_name_WeapKar98k_C,damage_causer_name_WeapMini14_C,damage_causer_name_WeapMk14_C,damage_causer_name_WeapSKS_C,damage_reason_ArmShot,...,damage_reason_LegShot,damage_reason_PelvisShot,damage_reason_TorsoShot,head_2,head_3,armor_1,armor_2,armor_3,damage,Label
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,64.860001,51.9805
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,4.799999,26.6806
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,18.000000,18.3816
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,26.856861,28.2277
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,20.479174,18.7161