In [1]:
import os

import pandas as pd
import numpy as np

from collections import deque
from datetime import datetime

import pickle

from chicken_dinner.pubgapi import PUBG

In [2]:
api_key = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI5NDUxNTE2MC1lNWU5LTAxMzktMjZhMi02M2UwOWQxYTU2NmEiLCJpc3MiOiJnYW1lbG9ja2VyIiwiaWF0IjoxNjI5Njg2NTA1LCJwdWIiOiJibHVlaG9sZSIsInRpdGxlIjoicHViZyIsImFwcCI6InB1YmctZXN0aW1hdG9yIn0.IxZLnOjCIKC4id8gncjWkAWM8Vpr9O_k7dJjKihuycM'

In [3]:
pubg = PUBG(api_key, 'tournament')
tms = pubg.tournaments()

In [4]:
def load_pkl(filename):
    with open(filename, 'rb') as f:
        data = pickle.load(f)
    return data

In [5]:
tm_dict = {}
for tm in tms:
    if '2020' in tm.created_at:
#         m_lists = os.listdir('tournaments/'+tm.id+'/')
        m_lists = os.listdir('tournaments/cn-pcsa/')
            
#         print(tm.id)
        print('cn-pcsa')
        for m_pkl in m_lists:
            match = m_pkl.split('.')[0]
            tm_dict[match] = load_pkl('tournaments/cn-pcsa/'+ m_pkl)
        break

cn-pcsa

UnpicklingError: invalid load key, ','.

In [7]:
dq = deque()
for match_id, df_battle in tm_dict.items():
#     print(df_battle)
    df_battle['match_id'] = match_id
    for df_row in df_battle.iloc():
#         df_row
        dq.append(df_row)
df_tournament = pd.DataFrame(dq, columns=list(df_battle.columns))

# 가공 시작.

## df_tournament

### LogPlayerKill, LogPlayerAttack, LogPlayerTakeDamage 세가지를 토너먼트 단위로 다 모은것.

In [8]:
df_tournament = df_tournament.sort_values('_D')
#df_tournament

In [9]:
df_tournament['index'] = range(0,len(df_tournament))
# df_tournament

In [10]:
df_partici = df_tournament.groupby('match_id')['attacker_name'].unique()
df_partici = df_partici.reset_index()
df_partici.drop('match_id', axis=1, inplace=True)
# df_partici

In [11]:
parti_dict = {}
for participants in df_partici.values:
    parti_list =list(participants)
    for parti in parti_list[0]:
#         print(parti)
        if parti_dict.get(parti):
            parti_dict[parti] += 1
        else:
            parti_dict[parti] = 1

In [12]:
# parti_dict

In [13]:
def make_attacker_defender_victim(df_battle):
    df_kill_log = df_battle[df_battle['_T']== 'LogPlayerKill'][['index', '_D', 'attacker_name', 'victim_name','damage_type_category','damage_reason']]
    df_kill_log['death_player'] = df_kill_log['victim_name']
    df_kill_log.columns = ['index', 'time', 'attacker', 'defender', 'damage_type_category','damage_reason','victim',]
    df_kl = df_kill_log[['index','victim']]
    
    df_battle_2 = pd.merge(df_kl,df_battle,how='outer', on='index')
#     print(df_battle_2.columns)
    df_battle_2.columns = ['index', 'victim', '_D', '_T', 'is_game', 'damage_causer_name',
       'damage_reason', 'damage_type_category', 'distance',
       'attacker_location_x', 'attacker_location_y', 'attacker_location_z',
       'attacker', 'defender_location_x', 'defender_location_y',
       'defender_location_z', 'defender', 'item_id', 'attacker_health',
       'damage', 'defender_health', 'match_id']
    df_battle_3= df_battle_2[['index', '_D', '_T','attacker', 'attacker_location_x', 'attacker_location_y', 'attacker_location_z','attacker_health','defender','defender_location_x', 'defender_location_y',
           'defender_location_z', 'defender_health', 'victim',  'damage_causer_name','damage','damage_type_category','damage_reason','distance', 'match_id']].sort_values(['index'])
#     # column 순서를 바꾸고, index로 정렬
    
    return df_battle_3

## df_tournament_adv

### df_tournament 에 attacker-defnder-victim 관계로 재구성

In [14]:
df_tournament_adv = make_attacker_defender_victim(df_tournament)  
# df_tournament_adv

In [15]:
def get_df_fight_type1_players(df_battle):

    c1 = df_battle['attacker'].notna()
    c2 = df_battle['defender'].notna()
    c3 = df_battle['attacker'] != df_battle['defender']
    c4 = df_battle["victim"].notna()
    
    df_battle_t = df_battle[c1 & c2 & c3 & c4]
    
    players_kill_o = df_battle_t[['attacker','defender', 'victim']]
#     print(df_battle_t.iloc[0])
    return players_kill_o

In [16]:
def get_fight_type1(df_battle , attacker, victim):
    
    tmp_kill = df_battle.query(f"attacker=='{attacker}' & victim=='{victim}'" )
#     print(tmp_kill)
    last_idx = tmp_kill.iloc[0,:]['index']
    
    
    tmp_damage1 = df_battle.query(f"attacker=='{attacker}' & defender=='{victim}'" )
    tmp_damage2 = df_battle.query(f"attacker=='{victim}' & defender=='{attacker}'" )
    tmp_damage = pd.concat([tmp_damage1, tmp_damage2])
    
#     if tmp_damage.shape[0]<2:
# #         print("Doesn't exist.")
#         return None
    
    tmp_damage.sort_values('index', inplace=True)
#     print(tmp_damage)
    
    fst_idx = tmp_damage.iloc[0,:]['index']
    
    tmp = df_battle.query("index<=@last_idx & index>=@fst_idx & _T=='LogPlayerAttack'")
    tmp_attack = tmp.query(f"attacker=='{attacker}' | attacker=='{victim}'")
    
    df_result = pd.concat([tmp_damage, tmp_attack, tmp_kill]).sort_values('index').drop_duplicates()
    return df_result

In [17]:
def get_df_fight_type2_players(df_battle, type1_dict):
    df_type1 = pd.concat(type1_dict.values())
    idx_kill = df_type1['index']
    df_type2 = df_battle[(~df_battle['index'].isin(idx_kill)) & df_battle.victim.isna()].sort_values('index')
    players_kill_x = df_type2[(df_type2.defender.notna()) & (df_type2.attacker!=df_type2.defender)][['attacker', 'defender']].drop_duplicates()
    return players_kill_x

In [18]:
def get_fight_type2(df_battle, attacker, defender):
        
    tmp_damage1 = df_battle.query(f"attacker=='{attacker}' & defender=='{defender}'" )
    tmp_damage2 = df_battle.query(f"attacker=='{defender}' & defender=='{attacker}'" )
    tmp_damage = pd.concat([tmp_damage1, tmp_damage2])
    if tmp_damage.shape[0]<2:
#         print("Doesn't exist.")
        return None
    
    tmp_damage.sort_values('index', inplace=True)
    
    fst_idx = tmp_damage.iloc[0,:]['index']
    last_idx = tmp_damage.iloc[-1,:]['index']
    
    tmp = df_battle.query("index<=@last_idx & index>=@fst_idx & _T=='LogPlayerAttack'")
    tmp_attack = tmp.query(f"attacker=='{attacker}' | attacker=='{defender}'")
    
    df_result = pd.concat([tmp_damage, tmp_attack]).sort_values('index')
    return df_result

## 체력이 비어있는 값들이 있다, 그것을 잘 선별하는게 아래의 과정

In [19]:
# 원래 이렇게 했었는데 아래로 바꿈
# df_tm_type1[['attacker', 'attacker_health']].iloc[-2,1] - df_tm_type1[['attacker', 'attacker_health']].iloc[0,1]

In [20]:
# df_tm_type1[df_tm_type1['attacker'].notna() & df_tm_type1['attacker_health'].notna()][['attacker', 'attacker_health']]

In [21]:
# df_tm_type1[df_tm_type1['defender'].notna() & df_tm_type1['defender_health'].notna()][['defender', 'defender_health']]

In [22]:
def add_indicators_type1(df_tm_type1, p1, p2, dq):
    
    try:

        # 체력
        if df_tm_type1['victim'].iloc[-1] == df_tm_type1['defender'].iloc[0]:
            attacker_health_diff = df_tm_type1[df_tm_type1['attacker'].notna() & df_tm_type1['attacker_health'].notna()][['attacker', 'attacker_health']].iloc[-1,1] - df_tm_type1[df_tm_type1['attacker'].notna() & df_tm_type1['attacker_health'].notna()][['attacker', 'attacker_health']].iloc[0,1]
            defender_health_diff = df_tm_type1[df_tm_type1['defender'].notna() & df_tm_type1['defender_health'].notna()][['defender', 'defender_health']].iloc[-1,1] - df_tm_type1[df_tm_type1['defender'].notna() & df_tm_type1['defender_health'].notna()][['defender', 'defender_health']].iloc[0,1]
        elif df_tm_type1['victim'].iloc[-1] == df_tm_type1['attacker'].iloc[0]:
            attacker_health_diff = df_tm_type1[df_tm_type1['defender'].notna() & df_tm_type1['defender_health'].notna()][['defender', 'defender_health']].iloc[-1,1] - df_tm_type1[df_tm_type1['attacker'].notna() & df_tm_type1['attacker_health'].notna()][['attacker', 'attacker_health']].iloc[0,1]
            defender_health_diff = df_tm_type1[df_tm_type1['attacker'].notna() & df_tm_type1['attacker_health'].notna()][['attacker', 'attacker_health']].iloc[-1,1] - df_tm_type1[df_tm_type1['defender'].notna() & df_tm_type1['defender_health'].notna()][['defender', 'defender_health']].iloc[0,1]
        else:
            attacker_health_diff = 200
            defender_health_diff = 200

        # 데미지타입 카테고리가 damage_gun 이어야 한다. 아니면 명중률이 읨가 없다.
            
        # 명중률
        df_p1_fire = df_tm_type1[df_tm_type1['attacker'] == p1]   
        p1_fire_acu = df_p1_fire['defender'].isna().sum()/(len(df_p1_fire)+1) # p1의 명중률
        df_p2_fire = df_tm_type1[df_tm_type1['attacker'] == p2]  # p2도 동일하게
        p2_fire_acu = df_p2_fire['defender'].isna().sum()/(len(df_p2_fire)+1)

        # 교전 소요 시간
        df_tm_type1 = df_tm_type1.astype({'_D': 'datetime64[ns]'})
        duration = str((df_tm_type1._D.iloc[-1] - df_tm_type1._D.iloc[0]).seconds) +'.'+ str((df_tm_type1._D.iloc[-1] - df_tm_type1._D.iloc[0]).microseconds)


        # 교전 소요 시간 대비 이동 거리
        moved_distance = df_tm_type1.iloc[-1]['distance'] / (float(duration)+1)

        damage = df_tm_type1[df_tm_type1['attacker'] == p1]['damage'].sum()
        
        # deque 만들어 누적시킨걸 다시 돌려주기
        dq.append([
                df_tm_type1.iloc[0]['index'],
                df_tm_type1.iloc[-1]['index'],
                duration,
                df_tm_type1.iloc[0]['attacker'],
                df_tm_type1.iloc[0]['defender'],
                df_tm_type1.iloc[-1]['victim'],
                p1_fire_acu,
                p2_fire_acu,
                attacker_health_diff,
                defender_health_diff,
                moved_distance,
                damage,
            ])
    except:
        pass
 # DataFrame 만들기
#     df_summary = pd.DataFrame(dq, columns=[
#             'start_index',
#             'end_index',
#             'duration',
#             'attacker',
#             'defender',
#             'victim',
#             'attacker_accuracy',
#             'defender_accuracy',
#             'attacker_health_diff',
#             'defender_health_diff',
#             'moved_distance'
#         ])
    return dq

In [23]:
# 총교전 참여횟수, 경기당 평균 교전수, 시즌단위 교전 승률, 1년치 교전 승률, 등등 값을 계속 덧붙여서 테이블을 작성

In [24]:
# 전체 교전 수 중에 먼저 공격한 교전이 몇건이 되는지 -> offensive, deffensive 등을 파악할 수 있다.
# 교전간의 거리에 따라 이 선수가 어떤 교전 거리를 선호하는 지에 대한 것을 만들수도 있다.

In [25]:
# 잃은 체력은 얼마인데, 회복을 그것대비 얼마나 했는지. -> 교전상황에서의 운영능력등으로 같이 넣을수 있다.
# 투척무기가 매우 중요, 연막탄 매우중요, 연막-수류탄등이 획득대비 사용수가 얼마인지, 먹은걸 다못쓰는 오버파밍을 하지는 않나등으로 볼수있겠다.

In [26]:
# df_tm_type1[df_tm_type1['attacker'].notna() & df_tm_type1['attacker_health'].notna()][['attacker', 'attacker_health']].iloc[0,1]

In [27]:
# df_tm_type1[df_tm_type1['attacker'].notna() & df_tm_type1['attacker_health'].notna()][['attacker', 'attacker_health']].iloc[-1,1]

In [28]:
dq = deque()
for match_id in df_tournament_adv['match_id'].unique():
    df_battle =  df_tournament_adv[df_tournament_adv['match_id'] == match_id]
    
    players_kill_o = get_df_fight_type1_players(df_battle)
    
    for p1, p2,vict in players_kill_o.iloc():
#         print(p1, p2)
        df_tm_type1 = get_fight_type1(df_battle , p1, p2)
        dq = add_indicators_type1(df_tm_type1, p1, p2, dq)  # summary p1, p2 에 대한
#         display(df_tm_type1)

#         break # 처음 데이터 확인을 위해 break, 여길 활성화 하면 매치 통합, 추후 삭제예정
#     break  # 처음 데이터 확인을 위해 break, 여길 활성화 하면 토너먼트 통합, 추후 삭제예정
df_summary = pd.DataFrame(dq, columns=[
    'start_index',
    'end_index',
    'duration',
    'attacker',
    'defender',
    'victim',
    'attacker_accuracy',
    'defender_accuracy',
    'attacker_health_diff',
    'defender_health_diff',
    'moved_distance',
    'damage'
])

In [29]:
df_summary = df_summary.astype({'damage':'float32', 'duration':'float32'})

In [30]:
df_atk_health = df_summary.groupby('attacker')['attacker_health_diff'].mean()

df_atk_health = df_atk_health.reset_index()
df_atk_health.columns = ['player','attacker_health_diff']
# df_atk_health

In [31]:
df_dfd_health = df_summary.groupby('defender')['defender_health_diff'].mean()
df_dfd_health = df_dfd_health.reset_index()
df_dfd_health.columns = ['player','defender_health_diff']
# df_dfd_health

In [32]:
df_atk_acc = df_summary.groupby('attacker')['attacker_accuracy'].mean()
df_atk_acc = df_atk_acc.reset_index()
df_atk_acc.columns = ['player','attacker_accuracy']
# df_atk_acc

In [33]:
df_dfd_acc = df_summary.groupby('defender')['defender_accuracy'].mean()
df_dfd_acc = df_dfd_acc.reset_index()
df_dfd_acc.columns = ['player','defender_accuracy']
# df_dfd_acc

In [34]:
df_dur = df_summary.groupby('attacker')['duration'].mean()
df_dur = df_dur.reset_index()
df_dur.columns = ['player','duration']
# df_dur

In [35]:
df_dist = df_summary.groupby('attacker')['moved_distance'].mean()
df_dist = df_dist.reset_index()
df_dist.columns = ['player','moved_distance']
# df_dist

In [36]:
df_dmg = df_summary.groupby('attacker')['damage'].mean()
df_dmg = df_dmg.reset_index()
df_dmg.columns = ['player','damage']
# df_dmg

In [37]:
df_battle_table = pd.DataFrame(parti_dict.values(), index=parti_dict.keys())
df_battle_table = df_battle_table.reset_index()
df_battle_table.columns = ['player','battle_count']
# df_battle_table

In [38]:
df_battle_table_1 = pd.merge(df_battle_table, df_atk_health)

df_battle_table_2 = pd.merge(df_battle_table_1, df_dfd_health)

df_battle_table_3 = pd.merge(df_battle_table_2, df_atk_acc)

df_battle_table_4 = pd.merge(df_battle_table_3, df_dfd_acc)

df_battle_table_5 = pd.merge(df_battle_table_4, df_dur)

df_battle_table_6 = pd.merge(df_battle_table_5, df_dist)

df_battle_table_7 = pd.merge(df_battle_table_6, df_dmg)

df_battle_table_7['team_name'] =df_battle_table_7['player'].str.split('_').str[0]
df_battle_table_7['player_name'] = df_battle_table_7['player'].str.split('_').str[1]
df_battle_table_7.columns = ['player_id', 'battle_count', 'attacker_health_diff','defender_health_diff',  'attacker_accuracy',  'defender_accuracy',
                              'battle_duration', 'battle_moved_distance','damage' ,'team_name', 'player_name']

In [39]:
df_battle_table_7

,player_id,battle_count,attacker_health_diff,defender_health_diff,attacker_accuracy,defender_accuracy,battle_duration,battle_moved_distance,damage,team_name,player_name
0,RNG_XiaoA1sy,90,-10.342414,-49.862019,0.569107,0.406986,44.044544,2250.486516,62.251312,RNG,XiaoA1sy
1,4AM_Godv,90,-9.108206,-43.327212,0.573504,0.343623,27.508034,2599.685178,64.026794,4AM,Godv
2,TSG_ShanD1anX,90,-18.385201,-47.178665,0.564449,0.420668,38.078365,3400.935206,64.385246,TSG,ShanD1anX
3,iFTY_Boliang,90,-14.070037,-39.780267,0.609560,0.309018,70.024635,1817.303125,69.832283,iFTY,Boliang
4,LYG_Shmily,90,-18.546897,-40.538966,0.597169,0.311011,70.231163,1786.138909,77.497780,LYG,Shmily
...,...,...,...,...,...,...,...,...,...,...,...
216,PGAME_Monster,3,-46.299999,84.820000,0.758247,0.250000,178.496506,638.660115,71.012955,PGAME,Monster
217,PUBG_Jimmy,3,-9.512499,-34.120722,0.423246,0.836364,12.134500,564.221618,69.412643,PUBG,Jimmy
218,XSP_XT,3,-26.704840,-54.317318,0.613295,0.500000,18.042000,1237.028804,45.639717,XSP,XT
219,TSG_LJ,3,0.000000,-84.359329,0.727273,0.472222,7.528000,1984.872671,10.000000,TSG,LJ
220,PGAME_Kuroky,3,10.196127,-78.980000,0.506250,0.000000,89.728004,144.376250,117.970795,PGAME,Kuroky

In [40]:
# attacker_health_diff , defender_accuracy
# 차이가 클수록 좋다. (0에 가깝거나 +이면 매우 좋음)

# attacker_accuracy,defender_accuracy
# 이건 그냥 1에 가까울 수록 좋음.( 1은 나올수가 없다... 분모에 1을 더했기 때문에.)

In [41]:
df_battle_table_result = df_battle_table_7[['player_id','team_name', 'player_name', 'battle_count', 
       'attacker_health_diff','defender_health_diff',  'attacker_accuracy',  'defender_accuracy', 'battle_duration', 'battle_moved_distance','damage' ]]
df_battle_table_result.sort_values(['battle_count','team_name','attacker_accuracy'], ascending=False)

,player_id,team_name,player_name,battle_count,attacker_health_diff,defender_health_diff,attacker_accuracy,defender_accuracy,battle_duration,battle_moved_distance,damage
48,iFTY_LongSkr,iFTY,LongSkr,90,-13.056097,-49.085037,0.623927,0.438758,74.027016,1764.460334,81.500290
12,iFTY_9,iFTY,9,90,-13.978057,-44.370237,0.610832,0.397541,72.488289,2264.321036,76.863060
3,iFTY_Boliang,iFTY,Boliang,90,-14.070037,-39.780267,0.609560,0.309018,70.024635,1817.303125,69.832283
35,iFTY_Jiaoyang,iFTY,Jiaoyang,90,-19.078837,-51.734556,0.599428,0.452102,48.144325,2287.144289,63.962402
24,WOL_yyxovo_Tezo,WOL,yyxovo,90,-18.288368,-42.478504,0.578244,0.437358,46.933979,2579.043612,67.311378
...,...,...,...,...,...,...,...,...,...,...,...
183,Banana_Bro,Banana,Bro,3,0.000000,-76.854860,0.375692,0.000000,5.652167,9229.155321,38.955700
210,5eplay8X_SC,5eplay8X,SC,3,-13.799999,-45.529803,0.861905,0.323810,67.486504,79.083340,82.355255
175,5eplay8X_ZWT,5eplay8X,ZWT,3,-17.648889,23.500000,0.684808,0.650412,93.653778,2018.575984,89.848770
186,5eplay8X_HGF,5eplay8X,HGF,3,-6.500000,66.666667,0.628720,0.285714,17.722250,3934.980367,61.493446
180,4AM_BigLong,4AM,BigLong,3,-71.886856,-52.027255,0.555556,0.400000,81.543999,208.285198,71.886856

In [42]:
df_battle_table_result.quantile(q=0.5, interpolation='nearest')

battle_count               18.000000
attacker_health_diff      -13.679547
defender_health_diff      -47.772008
attacker_accuracy           0.600563
defender_accuracy           0.397541
battle_duration            48.256210
battle_moved_distance    1981.852155
damage                     71.595161
Name: 0.5, dtype: float64

In [54]:
df_battle_table

            player  battle_count
0     RNG_XiaoA1sy            90
1         4AM_Godv            90
2    TSG_ShanD1anX            90
3     iFTY_Boliang            90
4       LYG_Shmily            90
..             ...           ...
234     PUBG_Jimmy             3
235         XSP_XT             3
236         TSG_LJ             3
237   PGAME_Kuroky             3
238   Douyu_jianyu             2

[239 rows x 2 columns]

In [55]:
df_dist

            player  moved_distance
0      4AM_BigLong      208.285198
1     4AM_CRAZY112     1508.849565
2      4AM_Forever     3429.588699
3         4AM_Godv     2599.685178
4        4AM_xxxLu     3501.735758
..             ...             ...
217     YS_ovoelek      821.264319
218         iFTY_9     2264.321036
219   iFTY_Boliang     1817.303125
220  iFTY_Jiaoyang     2287.144289
221   iFTY_LongSkr     1764.460334

[222 rows x 2 columns]